.cta-carousel {
  margin-bottom: 3rem;
  padding-bottom: 3.7rem;
  position: relative;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 4rem;
  }
}

.carousel-control {
  bottom: 0.5rem;
  position: absolute;
  right: 7.1rem;
}

.carousel-indicators {
  bottom: -5.2rem;
  left: unset;
  right: 0;
  width: 7rem;

  & .carousel-dot {
    background-color: transparent;
    height: 2.4rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    position: relative;
    width: 2.1rem;

    &::after {
      background-color: var(--white);
      border-radius: 0.4rem;
      content: "";
      height: 0.7rem;
      left: 0.3rem;
      position: absolute;
      top: 0.8rem;
      width: 0.7rem;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 1;
        transition: opacity 300ms;
      }
    }
  }
}

.carousel-pause-play {
  border: none;
  height: 2.4rem;
  width: 3.2rem;
}

.carousel-pause {
  background: url("../img/icons/pause.svg") center center / 1.2rem 1.4rem
    no-repeat;
}

.carousel-play {
  background: url("../img/icons/play.svg") center center / 1.2rem 1.2rem
    no-repeat;
}

.carousel-prev,
.carousel-next {
  pointer-events: none;
  z-index: 8;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  width: 6rem;
  pointer-events: auto;

  &:focus,
  &:focus:not(:focus-visible) {
    outline: var(--white) solid 0.1rem;
    outline-offset: 0.1rem;
  }

  &:hover &-icon,
  &:focus &-icon {
    background-color: var(--medium-purple-v3);
    transition: background-color 300ms;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--medium-purple-v3-50);
  background-image: none;
  border-radius: 3rem;
  height: 6rem;
  width: 6rem;

  &::after {
    background: url("../img/icons/right-arrow.svg") center right / 20px 9px
      no-repeat;
    content: "";
    display: inline-block;
    height: 9px;
    margin-bottom: auto;
    margin-top: auto;
    width: 20px;
  }
}

.carousel-control-prev-icon {
  &::after {
    background: url("../img/icons/right-arrow.svg") center right / 20px 9px
      no-repeat;
    transform: rotate(180deg);
  }
}

.carousel-link {
  @include hover-border;

  &::after {
    border-radius: 0.8rem;
  }
}
