.choose-subscription {
  max-width: 61rem;
  margin: 0 auto;
}

.breadcrumbs {
  @include small-text;
  background-color: var(--black-v5);
  border-radius: 0.4rem;
  display: inline;
  margin: 0;
  padding: 0.6rem;
  width: auto;

  li {
    display: inline-block;
    padding: 0 2rem 0 0.5rem;
    position: relative;

    span {
      opacity: 0.75;
    }

    &::after {
      border: 0 solid white;
      border-width: 0.2rem 0.2rem 0 0;
      bottom: 1rem;
      content: "";
      height: 0.6rem;
      position: absolute;
      right: 0.4rem;
      transform: rotate(45deg);
      width: 0.6rem;
    }

    &.current {
      padding-right: 0.5rem;

      span {
        opacity: 1;
      }

      &::after {
        content: none;
      }
    }
  }
}

.choose-subscription__header {
  border-bottom: 0.2rem solid var(--white-v7);
  margin-bottom: 2.5rem;
  padding-bottom: 3rem;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 3rem;
    padding-bottom: 4rem;
  }
}

.choose-subscription__heading {
  @include heading-playfair-mobile;
  @include left-accent-line-text;
  border-color: var(--pink);

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair;
  }
}

.choose-subscription__subheading {
  @include large-text;
  margin-bottom: 2rem;
}

.choose-subscription__form {
  margin: 0 auto;
  max-width: 40rem;
}

.choose-subscription__billing-period {
  @include small-text-v2;
  border-bottom: 0.2rem solid var(--white-v7);
  margin-bottom: 7rem;
  padding-bottom: 3rem;
  padding-left: 4.5rem;
  padding-top: 0.7rem;
  position: relative;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 10rem;
    padding-bottom: 4.5rem;
  }

  &::before {
    background: url("../img/icons/warning-white.svg") no-repeat top left;
    background-size: cover;
    content: "";
    display: block;
    height: 3rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 3rem;
  }
}

.choose-subscription__cc-form {
  margin-bottom: 5rem;
}

.choose-subscription__buttons {
  align-items: start;
  border-bottom: 0.2rem solid var(--white-v7);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
}
