.cta {
  &,
  & img {
    border-radius: 0.8rem;
  }
}

.cta-bottom {
  margin-bottom: 3.5rem;
  margin-top: 6rem;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 6rem;
    margin-top: 10rem;
  }
}

.cta-bottom__banner-link {
  @include hover-border;
  display: inline-block;
  position: relative;

  &::after {
    border-radius: 0.8rem;
  }
}

.cta-bottom__banner-image {
  display: inline-block;
}
