.cta {
  &,
  & img {
    border-radius: 8px;
  }
}

.cta-bottom {
  margin-bottom: 3.5rem;
  margin-top: 6rem;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 6rem;
    margin-top: 10rem;
  }
}
