.customer-service__contact {
  p {
    @include normal-text;
  }
}

.customer-service__terms {
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    transition: text-decoration 300ms;
  }
}
