.landing::after {
  content: "";
  background: url("../img/landing-bg-sm.png") top center/100% no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media screen and (min-width: $screen-md) {
    background: url("../img/landing-bg.png") top center/100% no-repeat;
  }
}

.landing-body::before {
  content: none;
}

.landing-intro {
  margin-bottom: 6.5rem;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 16rem;
    margin-top: 2rem;
  }
}

.landing-bundles {
  margin-top: 6.5rem;
  margin-bottom: 8rem;

  @media screen and (min-width: $screen-lg) {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
}

.landing-games-movies {
  margin-top: 6rem;
  margin-bottom: 7.5rem;

  @media screen and (min-width: $screen-lg) {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
}

.landing-subscription-options {
  margin-top: 6rem;
  margin-bottom: 6rem;

  @media screen and (min-width: $screen-lg) {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
}

.landing-ebooks,
.landing-devices {
  position: relative;

  &::before {
    content: "";
    @include purple-gradient-3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.landing-ebooks {
  margin-bottom: 6rem;

  &::before {
    height: calc(100% - 4rem);
    top: 4rem;
  }

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 16rem;

    &::before {
      top: 6rem;
    }
  }
}

.landing-devices {
  margin-bottom: 7.5rem;
  padding-top: 8.5rem;
  padding-bottom: 7.5rem;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 13rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
}

.landing-subscription-options__options {
  margin-bottom: 6rem;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 9rem;
  }
}

.landing-intro__heading {
  @include heading-playfair-landing-mobile;

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair-landing;
  }
}

.landing__heading {
  @include heading-playfair-mobile;

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair;
  }
}

.landing-intro__image {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: inline-block;
    margin-bottom: 2rem;
    width: 20rem;
  }

  @media screen and (min-width: $screen-lg) {
    width: 23rem;
  }
}

.landing-bundles__image {
  margin-left: -2rem;
  margin-right: -2rem;
  position: relative;

  @media screen and (min-width: $screen-sm) {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  @media screen and (min-width: $screen-lg) {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  @media screen and (min-width: $screen-xl) {
    left: -2rem;
  }

  @media screen and (min-width: $screen-xxl) {
    left: -4rem;
  }
}

.landing-ebooks__image {
  margin-left: -6rem;

  @media screen and (min-width: $screen-lg) {
    margin-left: -4rem;
    margin-right: -4rem;
  }
}

.landing-games-movies__image {
  @media screen and (min-width: $screen-lg) {
    margin-left: -4rem;
    margin-right: -4rem;
  }
}

.landing-devices__image {
  max-width: 40rem;
}

.landing-subscription-options__image {
  width: 16rem;

  @media screen and (min-width: $screen-lg) {
    width: 21rem;
  }
}
