.landing-body::before {
  content: none;
}

.landing::after {
  content: "";
  background: url("../img/landing-bg.png") top left/100% no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-bundles,
.landing-games-movies,
.landing-subscription-options {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.landing-intro,
.landing-ebooks {
  margin-bottom: 16rem;
}

.landing-ebooks,
.landing-devices {
  position: relative;

  &::before {
    content: "";
    @include purple-gradient-3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.landing-ebooks {
  &::before {
    top: 6rem;
  }
}

.landing-devices {
  margin-bottom: 13rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.subscription-options {
  margin-bottom: 9rem;
}

.landing-intro__heading {
  @include heading-playfair-landing-mobile;

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair-landing;
  }
}

.landing__heading {
  @include heading-playfair-mobile;

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair;
  }
}

.landing-intro__image {
  width: 23rem;
}

.landing-bundles__image {
  position: relative;
  left: -4rem;
  margin-left: -4rem;
  margin-right: -4rem;
}

.landing-ebooks__image,
.landing-games-movies__image {
  margin-left: -4rem;
  margin-right: -4rem;
}

.landing-subscription-options__image {
  width: 21rem;
}
