.list-title__heading {
  @include heading-playfair-mobile;

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair;
  }
}

.list-title__sub-heading {
  margin-top: 1.2rem;
}

.list-title__sub-heading-text {
  @include small-text;
  line-height: unset;
  margin-left: 1rem;
}

.list-title__sub-heading-rect {
  width: 0.4rem;
  height: 2rem;
  background: var(--pink);
}
