.loader {
  &.not-active {
    display: none;
  }

  &.active {
    display: flex;
    justify-content: center;
  }
}

.loader__icon {
  @include spin-animation;
  width: 4.4rem;
  height: 4.567rem;

  @media screen and (min-width: $screen-lg) {
    margin-top: 2rem;
    width: 5rem;
    height: 5.25rem;
  }
}
