.menu-modal__btn {
  border: none;
  padding: 0;
}

.modal-header .menu-modal__btn-close {
  background: none;
  border: 0;
  padding: 0;
  margin: 1rem 0 0 0;
}

.menu-modal .modal-dialog {
  margin: 0;
}

// When fading in the main menu, animate it to slide from the left
#mainMenuModal.modal.fade .modal-dialog {
  @include transition($modal-transition);
  transform: translate(-5rem, 0);
}
#mainMenuModal.modal.show .modal-dialog {
  transform: $modal-show-transform;
}

// When fading in the user menu modal, animate it to slide from the right
#userAccountMenuModal.modal.fade .modal-dialog {
  @include transition($modal-transition);
  transform: translate(5rem, 0);
}
#userAccountMenuModal.modal.show .modal-dialog {
  transform: $modal-show-transform;
}

.menu-modal__modal-header {
  border: 0;
  margin: 0 1.5rem;
}

.menu-modal__content {
  background-color: var(--purple-v2);
}

.menu-modal__body {
  margin: 0 2rem;
}

.menu-modal__pink-btn {
  @include dropshadow;
  @include normal-text-v2;
  line-height: unset;
}

.menu-modal__link {
  @include normal-text;
  padding: 1.5rem 0.5rem 1.5rem 0;
}

.menu-modal__nav-container {
  border-top: 0.1rem solid var(--light-grey-v7);
}

.menu-modal__nav-row {
  border-bottom: 0.1rem solid var(--light-grey-v7);
}

.menu-modal__selections {
  background-color: var(--dark-purple-v3);
  padding-right: 2rem;
  padding-left: 2rem;
}

.menu-modal__selections-number {
  @include xlarge-text-v3;
}

.menu-modal__selections-text {
  @include small-text;
  line-height: unset;
}

.menu-modal__selections-summary {
  color: var(--white);
}
