.popup-modal {
  z-index: 9;
  &:before {
    content: "";
    background: var(--dark-purple-v4);
    opacity: 0.75;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.popup-modal_content {
  @include normal-text;
  background: var(--white);
  border-radius: 0.4rem;
  color: var(--dark-grey);
  z-index: 1;
  position: relative;

  &.default {
    width: 90%;
    max-width: 50rem;
    padding: 7rem 3rem;

    @media screen and (min-width: $screen-lg) {
      max-width: inherit;
      width: 60rem;
      padding: 8rem 3rem;
    }

    .popup_modal__body-text {
      max-width: 31rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.popup-modal__btn-close {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;

  @media screen and (min-width: $screen-lg) {
    top: 3rem;
    right: 3rem;
  }
}
