.popup-modal {
  z-index: 9;
}

.popup-modal__background {
  background: var(--dark-purple-v4);
  opacity: 0.75;
  width: 100%;
  height: calc(100% + 20rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  cursor: pointer;
}

.popup-modal__btn-close {
  background: none;
  border: 0;
  padding: 1rem;
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;

  @media screen and (min-width: $screen-lg) {
    top: 2rem;
    right: 2rem;
  }
}

.popup-modal__content {
  margin-left: auto;
  margin-right: auto;
}

.popup-modal__title {
  @include large-text-v3;
  font-weight: 600;

  @media screen and (min-width: $screen-lg) {
    @include large-text;
  }
}

.popup-modal__form-title {
  @include normal-text;
  font-weight: 600;

  @media screen and (min-width: $screen-lg) {
    @include large-text;
    font-weight: 400;
  }
}

.popup-modal__sub-title {
  @include large-text-v5;
  display: block;
  font-weight: 600;

  @media screen and (min-width: $screen-lg) {
    @include large-text-v4;
  }
}

.popup-modal__body-text {
  @include normal-text;
}

.popup-modal__bundle-selection {
  border-top: 0.1rem solid var(--light-grey-v4);
  border-bottom: 0.1rem solid var(--light-grey-v4);
}

.popup-modal__bundle-info {
  p {
    @include normal-text;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.popup-modal__error {
  @include form-error;
}

.popup-modal_content-wrapper {
  background: var(--white);
  border-radius: 0.4rem;
  color: var(--dark-grey);
  z-index: 1;
  position: relative;
  width: 90%;
  padding: 7rem 2.5rem;

  @media screen and (min-width: $screen-lg) {
    max-width: inherit;
    padding: 8rem 3rem;
  }

  &.default,
  &.ebook-expired {
    max-width: 50rem;

    @media screen and (min-width: $screen-lg) {
      width: 60rem;
      max-width: inherit;
    }

    .popup-modal__content {
      max-width: 31rem;
    }
  }

  &.thank-you,
  &.thank-you-2 {
    max-width: 50rem;
    padding: 6.3rem 2.5rem 5.1rem;

    @media screen and (min-width: $screen-md) {
      max-width: 60rem;
    }

    @media screen and (min-width: $screen-lg) {
      padding: 8rem 3rem 7.2rem;
      width: 81rem;
      max-width: inherit;
    }

    .popup-modal__content {
      max-width: 60rem;
    }

    .popup-modal__buttons {
      @media screen and (max-width: $minRems) {
        flex-direction: column;
      }

      a,
      button {
        width: 100%;
        margin-bottom: 1rem;

        @media screen and (max-width: $minRems) {
          margin-left: 0;
        }

        @media screen and (min-width: $screen-md) {
          width: inherit;
          margin-bottom: 0;
          margin-left: 1.2rem;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &.thank-you-2 {
    text-align: center;
    padding-left: 3.6rem;
    padding-right: 3.6rem;

    @media screen and (min-width: $screen-md) {
      text-align: left;
    }

    @media screen and (min-width: $screen-lg) {
      max-width: inherit;
    }
  }

  &.bundle-selection {
    max-width: 60rem;

    @media screen and (min-width: $screen-lg) {
      width: 81rem;
      max-width: inherit;
    }

    .popup-modal__buttons {
      @media screen and (max-width: $minRems) {
        flex-direction: column;
      }

      a,
      button {
        margin-left: 1.2rem;

        @media screen and (max-width: $minRems) {
          margin-left: 0;
        }

        &:first-child {
          margin-left: 0;
        }
      }

      .popup-modal__content {
        max-width: 61rem;
      }
    }
  }

  &.delete-card,
  &.delete-subscription {
    max-width: 50rem;

    @media screen and (min-width: $screen-lg) {
      width: 60rem;
      max-width: inherit;
    }

    .popup-modal__buttons {
      @media screen and (max-width: $minRems) {
        flex-direction: column;
      }

      a,
      button {
        margin-left: 1.2rem;

        @media screen and (max-width: $minRems) {
          margin-left: 0;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .popup-modal__content {
      max-width: 46rem;
    }

    .popup-modal__body-text p {
      margin-bottom: 2.5rem;

      @media screen and (min-width: $screen-lg) {
        margin-bottom: 3rem;
      }
    }
  }
}

.popup-modal__form {
  .form__input input {
    border-color: var(--light-grey-v5);
  }
}

.popup-modal__state-dropdown {
  @media screen and (min-width: $screen-sm) {
    display: inline-block;
  }

  .select-dropdown-control {
    position: relative;
  }

  .select-dropdown-control-btn {
    border: 0.1rem solid var(--light-grey-v6);
  }

  button {
    width: 100%;

    @media screen and (min-width: $screen-sm) {
      min-width: 29rem;
    }
  }

  .dropdown-menu[data-bs-popper] {
    max-height: 20rem;
    width: 100%;
  }
}
