.row-title__heading {
  @include heading-nunito-mobile;
  margin-bottom: 0;
  padding-right: 3rem;

  @media screen and (min-width: $screen-lg) {
    @include heading-nunito;
  }
}

.row-title__sub-heading {
  @include heading-nunito-mobile;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

.row-title__sub-heading-text {
  @include xxsmall-text;
  margin-left: 1rem;

  @media screen and (min-width: $screen-sm) {
    @include small-text;
  }
}

.row-title__sub-heading-rect {
  background: var(--pink);
  height: 2rem;
  width: 0.4rem;
}

.row-title__view-all {
  margin-left: auto;
}

.row-title__view-all-link {
  @include small-text-v2;

  &::after {
    background: url("../img/icons/right-arrow.svg") center right no-repeat;
    content: "";
    height: 0.9rem;
    width: 2.8rem;

    @media screen and (min-width: $screen-lg) {
      @include normal-text-v2;
      display: inline-block;
    }
  }
}
