.bundles-row,
.ebooks-row,
.games-row,
.movies-row {
  margin-bottom: 6rem;
}

$bundle-shadow-size: 3.8rem;

.bundles-row-inner {
  @media screen and (max-width: $screen-md) {
    margin: -$bundle-shadow-size (-($bundle-shadow-size + 1));
    overflow-x: scroll;
    padding: $bundle-shadow-size;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &:hover {
      scrollbar-color: var(--medium-purple-v3-75) transparent;
    }

    &::after {
      width: $bundle-shadow-size;
      content: "";
      flex: 0 0 auto;
    }
  }
}

.bundles-col {
  max-width: 29rem;

  @media screen and (min-width: $screen-sm) {
    max-width: 35rem;
  }

  @media screen and (min-width: $screen-md) {
    max-width: none;
  }
}
