.bundles-row,
.ebooks-row,
.games-row,
.movies-row {
  margin-bottom: 6rem;
}

$bundle-shadow-size: 3.8rem;

.bundles-row-inner {
  @media screen and (max-width: $screen-md) {
    margin: -$bundle-shadow-size (-($bundle-shadow-size + 1));
    overflow-x: scroll;
    padding: $bundle-shadow-size;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border: none;
      border-radius: 0.7rem;
    }

    &:hover {
      scrollbar-color: var(--medium-purple-v3-75) transparent;

      &::-webkit-scrollbar-thumb {
        background-color: var(--medium-purple-v3-75);
      }
    }

    &::after {
      width: $bundle-shadow-size;
      content: "";
      flex: 0 0 auto;
    }
  }
}

.bundles-col {
  max-width: 29rem;

  @media screen and (min-width: $screen-sm) {
    max-width: 35rem;
  }

  @media screen and (min-width: $screen-md) {
    max-width: none;
  }
}
