.search-box {
  height: 4rem;
}

.search-box-text {
  @include normal-text;
  color: var(--dark-grey);
  padding-left: 1.25rem;
  border-radius: var(--input-border-radius);
  border: 0;

  &:focus {
    border: 0;
    box-shadow: none;
    color: var(--dark-grey);
  }
}

.search-box-img {
  background-color: var(--white);
  border-radius: var(--input-border-radius);
  padding: 0.9rem 1.4rem;
  border: 0.1rem solid transparent;
}

.search-box__btn {
  background: none;
  border: 0;
  height: 2rem;
  margin: 0;
  padding: 0;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box__btn-search {
  display: flex;

  .searching & {
    display: none;
  }
}

.search-box__btn-close {
  display: none;

  .searching & {
    display: flex;
  }
}
