.selection-summary__title {
  @include heading-playfair-mobile;

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair;
  }
}

.selection-summary__table {
  thead {
    th:first-child {
      @media screen and (min-width: $screen-sm) {
        width: 60%;
      }
    }

    th:last-child {
      width: 13.5rem;

      @media screen and (min-width: $screen-sm) {
        width: inherit;
      }
    }
  }
}

.selection-summary__summary-box {
  @include box-summary;
}

.selection-summary__summary-count {
  @include box-summary-count;
}

.selection-summary__summary-description {
  @include box-summary-description;
}
