.choose-subscription {
  max-width: 61rem;
  margin: 0 auto;
}

.breadcrumbs {
  @include small-text;
  background-color: var(--black-v5);
  border-radius: 0.4rem;
  display: inline;
  margin: 0;
  padding: 0.6rem;
  width: auto;

  li {
    display: inline-block;
    padding: 0 2rem 0 0.5rem;
    position: relative;

    span {
      opacity: 0.75;
    }

    &::after {
      border: 0 solid white;
      border-width: 0.2rem 0.2rem 0 0;
      bottom: 1rem;
      content: "";
      height: 0.6rem;
      position: absolute;
      right: 0.4rem;
      transform: rotate(45deg);
      width: 0.6rem;
    }

    &.current {
      padding-right: 0.5rem;

      span {
        opacity: 1;
      }

      &::after {
        content: none;
      }
    }
  }
}

.subscription__header {
  border-bottom: 0.2rem solid var(--white-v7);
  margin-bottom: 2.5rem;
  padding-bottom: 3rem;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 3rem;
    padding-bottom: 4rem;
  }
}

.subscription__heading {
  @include heading-playfair-mobile;
  @include left-accent-line-text;
  border-color: var(--pink);

  @media screen and (min-width: $screen-lg) {
    @include heading-playfair;
  }
}

.subscription__subheading {
  @include large-text;
  margin-bottom: 2rem;
}

.change-subscription__options {
  margin-bottom: 7rem;

  @media screen and (min-width: $screen-lg) {
    border-bottom: 0.2rem solid var(--white-v7);
    margin-bottom: 10rem;
    padding-bottom: 8rem;
  }
}

.subscription__form {
  margin: 0 auto;
  max-width: 40rem;
}

.subscription__billing-period {
  @include small-text-v2;
  border-bottom: 0.2rem solid var(--white-v7);
  margin-bottom: 7rem;
  padding-bottom: 3rem;
  padding-left: 4.5rem;
  padding-top: 0.7rem;
  position: relative;

  @media screen and (min-width: $screen-lg) {
    margin-bottom: 10rem;
    padding-bottom: 4.5rem;
  }

  &::before {
    background: url("../img/icons/warning-white.svg") no-repeat top left;
    background-size: cover;
    content: "";
    display: block;
    height: 3rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 3rem;
  }
}

.subscription__cc-form {
  margin-bottom: 5rem;
}

.subscription__buttons {
  align-items: start;
  border-bottom: 0.2rem solid var(--white-v7);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
}

.subscription-option {
  .subscription-option__header {
    border: 3px solid transparent;
    border-width: 0.3rem 0.3rem 0;
  }

  .subscription-option__body {
    border: 3px solid transparent;
    border-width: 0 0.3rem 0.3rem;
  }

  .subscription-option__monthly {
    .subscription-option__header {
      background-color: var(--orange-v4);
    }
  }

  .subscription-option__premiummonthly {
    .subscription-option__header {
      background-color: var(--orange);
    }
  }

  .subscription-option__yearly {
    .subscription-option__header {
      background-color: var(--pink-v2);
    }
  }

  .subscription-option__premiumyearly {
    .subscription-option__header {
      background-color: var(--pink-v4);
    }
  }

  &.selected {
    .subscription-option__monthly {
      .subscription-option__header,
      .subscription-option__body {
        border-color: var(--orange-v4);
      }
    }

    .subscription-option__premiummonthly {
      .subscription-option__header,
      .subscription-option__body {
        border-color: var(--orange);
      }
    }

    .subscription-option__yearly {
      .subscription-option__header,
      .subscription-option__body {
        border-color: var(--pink-v2);
      }
    }

    .subscription-option__premiumyearly {
      .subscription-option__header,
      .subscription-option__body {
        border-color: var(--pink-v4);
      }
    }
  }
}

.card-subscription-option {
  border: none;
  border-radius: 0.8rem;
  background: var(--white);
}

.subscription-option__header {
  &,
  &:first-child {
    border-radius: 0.8rem 0.8rem 0 0;
  }
}

.subscription-option__body {
  padding: 0 0 1.5rem;
  border-radius: 0 0 0.8rem 0.8rem;
}

.subscription-option__price {
  @include xlarge-text;
  font-weight: 600;
}

.subscription-option__name {
  @include small-text;
  font-weight: 600;
  text-transform: uppercase;
}

.subscription-option__feature-list {
  margin: 0 -0.3rem;
  padding: 0;

  .subscription-option.selected & {
    margin: 0;
  }
}

.subscription-option__feature {
  @include small-text;
  color: var(--dark-grey);
  list-style-type: none;
  padding: 1rem;

  @media screen and (min-width: $screen-md) {
    @include normal-text;
  }

  &:nth-child(odd) {
    background-color: var(--light-grey);
  }
}
