.list-table {
  thead {
    border-bottom: 0.1rem solid var(--white-v5);

    th {
      @include xsmall-text-v2;
      font-weight: 600;
      padding: 1rem 2rem 1rem 0;

      @media screen and (min-width: $screen-md) {
        padding: 1rem 2.5rem;
      }

      @media screen and (min-width: $screen-lg) {
        @include small-text-v2;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 0.1rem solid var(--white-v4);

      td {
        @include xsmall-text-v2;
        padding: 2.5rem 2rem 2.5rem 0;

        @media screen and (min-width: $screen-md) {
          padding: 3rem 2.5rem;
        }

        @media screen and (min-width: $screen-lg) {
          @include small-text-v2;
        }

        a {
          @include yellow-link-style;
        }
      }
    }
  }
}
