<div class="container-md p-0">
  <div class="cta cta-bottom">
    <a href="#" class="banner-link">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="assets/img/bottom-cta@2x.png 2x, assets/img/bottom-cta.png 1x"
        />
        <source
          srcset="
            assets/img/bottom-cta-sm@2x.png 2x,
            assets/img/bottom-cta-sm.png    1x
          "
        />
        <img
          src="assets/img/bottom-cta-sm.png"
          alt="alt text"
          class="bannger-img w-100 drop-shadow-4"
        /> </picture
    ></a>
  </div>
</div>
