<div class="container-md p-0">
  <div class="bookshelf-list">
    <div class="row mx-0 mb-lg-4 align-items-center">
      <div class="col-lg-4 p-0">
        {% include list-title.html title="My Bookshelf" %}
      </div>
    </div>

    <div class="row gx-0 d-flex mt-6 justify-content-between">
      <div class="col-lg-4 p-0">
        {% include search-box.html label="Search your bookshelf" %}
      </div>

      <div class="col-lg-8 p-0">{% include filter-sort-btns.html %}</div>
    </div>

    <div
      class="row main-content g-5 mb-5 mx-n3 mt-0 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6"
    >
      {% for i in (1..24) %}
      <div class="col mt-5 mt-sm-6 mt-md-7 mt-lg-8 mt-xl-13">
        {% capture percentage %}{{ i | times: 10 }}{% endcapture %}
        <div class="col">
          {% include ebook-card.html percentage=percentage %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
