<div class="container-md p-0">
  <div class="bookshelf-list">
    <div class="row mx-0 mb-lg-4 align-items-center">
      <div class="col-lg-4 p-0">
        {% include components/list-title.html title="My Bookshelf" %}
      </div>
    </div>

    <div class="row gx-0 d-flex mt-6 justify-content-between">
      <div class="col-lg-4 p-0">
        {% include forms/search-box.html label="Search your bookshelf" %}
      </div>

      <div class="col-lg-8 p-0 bookshelf-list__btns">
        {% include forms/filter-sort-btns.html page="my-bookshelf" %}
      </div>
    </div>

    <div
      class="row main-content g-5 mb-5 mx-n3 mt-0 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6"
    >
      {% if include.state == "empty" %}<!-- -->
      <div
        class="w-100 mt-18 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="box">
          <img
            src="{{ site.url }}/assets/img/book.svg"
            alt="Book"
            class="d-block"
          />
        </div>
        {% include components/body-copy.html copy="Your bookshelf is empty."
        extraClasses="bookshelf-empty-copy" %}<!-- -->
        {% include components/body-copy.html copy='<a href="/bundles"
          >Select your monthly bundle</a
        >
        to start your collection.' extraClasses="bookshelf-select-bundle-copy"
        %}
      </div>
      {% else %}<!-- -->
      {% for i in (1..24) %}<!-- -->
      <div class="col mt-5 mt-sm-6 mt-md-7 mt-lg-8 mt-xl-13">
        {% capture percentage %}{{ i | times: 10 }}{% endcapture %}<!-- -->
        <div class="col">
          {% include cards/ebook-card.html percentage=percentage %}<!-- -->
        </div>
      </div>
      {% endfor %}<!-- -->
      {% endif %}<!-- -->
    </div>
  </div>
</div>
