<div class="container-md p-0">
  <div class="bundle-detail-view mb-lg-13">
    {% include components/button.html type="rounded-transparent" label="Back"
    extraClasses="normal-text back-arrow-button px-8 mb-6" %}

    <h1 class="bundle-detail-view__title mb-3 mb-lg-4">
      Bundle Title Goes Here
    </h1>

    <div class="bundle-detail-view__availability mb-5 mb-lg-10 d-block">
      Available until Dec. 31
    </div>

    <div class="bundle-detail-view__group d-inline-block mb-6 mb-lg-11">
      eBook Bundle
    </div>

    <div class="main-content row gx-5">
      <div class="col-lg-9 order-2 order-lg-1">
        {% for i in (1..6) %}
        <div class="row gx-5 mb-13 mb-lg-11">
          <div class="col-lg-4 text-center text-lg-start mb-7 mb-lg-0">
            <img
              src="/assets/img/bundle-detail-{{ i }}.png"
              class="w-100 drop-shadow-1 bundle-detail-view__image"
              alt="Preview Image"
            />
          </div>

          <div class="col-lg-8">
            <div class="bundle-detail-view_info px-lg-7 px-xl-10">
              <h2
                class="bundle-detail-view_info-title mb-6 text-center text-lg-start"
              >
                Sawyer &amp; Cowboy Above the Law
              </h2>
              <div
                class="bundle-detail-view__meta mb-6 mb-lg-11 text-center text-lg-start"
              >
                {% include components/body-copy.html copy="By Lori Foster / Pub
                Month: December 2020<br />Genre: Western Romance" %}
                <!--  -->
                {% include components/body-copy.html copy="Miniseries: Albin
                Academy (Book #2)" %}
              </div>
              <div
                class="bundle-detail-view__description mb-8 mb-lg-0 d-none d-md-block"
              >
                {% include components/body-copy.html copy='
                <strong class="text-uppercase">A Safe Haven</strong>' %}
                <!--  -->
                {% include components/body-copy.html copy="As the only doctor in
                Buckhorn County, Kentucky, Sawyer Hudson knows a thing or two
                about saving lives. But when he rescues the beautiful Honey
                Malone from a car wreck and invites her to stay at his home so
                he can nurse her back to health." %}

                <!--  -->

                {% include components/body-copy.html copy="Honey’s been on the
                run for days, but when a car accident lands her in Sawyer’s
                arms, she’s never felt safer. Can he convince her that it’s okay
                to stop running—and build a future in the one place that’s
                finally felt like home?"
                extraClasses="bundle-detail-view__hidden-description" %}
              </div>

              <div
                class="bundle-detail-view__read-more-button d-flex d-lg-block justify-content-center"
              >
                {% include components/button.html type="rounded-transparent"
                label="Read More" extraClasses="mt-lg-4 normal-text white px-8"
                %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-lg-3 order-1 order-lg-2 mb-11 mb-lg-0 h-100">
        {% include components/summary-box.html class="bundle-detail-view" %}

        <div
          class="bundle-detail-view__select-bundle-button d-flex d-lg-block justify-content-center"
        >
          {% include components/button.html type="rounded-full-width"
          label="Select eBook Bundle" extraClasses=" normal-text light-purple
          drop-shadow-5 px-8" %}
        </div>
      </div>
    </div>
  </div>
</div>
