<div class="container-md p-0">
  <div class="bundles-list">
    <div class="row gx-0 align-items-end">
      <div class="col p-0">
        {% include list-title.html title="December Bundles" subtitle="Make your monthly selection by Dec. 31" %}
      </div>
    </div>

    <div class="row bundles-list__container gx-0 d-flex justify-content-between">
      <div class="col-lg-4 p-0">
        {% include button-group-radio.html layout="two-radio-btns" radio1-label="eBook" radio2-label="Print"  %}
      </div>

      <div class="col-lg-8 p-0">
        {% include filter-sort-btns.html %}
      </div>
    </div>

    <div
      class="row bundles-list__container gx-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3"
    >
      {% for i in (1..25) %}
      <div class="col mb-5 mb-sm-6 mb-md-7 mb-lg-8 mb-xl-12">
        {% include card.html cardtype="bundle" %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
