{% case include.type %}<!--  -->
{% when "rounded-full-width" %}<!--  -->
{% assign buttonClass = "full-width-button" %}<!--  -->
{% when "rounded-transparent" %}<!--  -->
{% assign buttonClass = "transparent-button" %}<!--  -->
{% else %}<!--  -->
{% assign buttonClass = "default-button pink" %}<!--  -->
{% endcase %}<!--  -->

<button
  type="button"
  class="btn btn-primary btn-lg {{ buttonClass }} {{ include.extraClasses }}"
  {%
  if
  include.link
  %}
  onclick="location.href='{{include.link }}'"
  {%
  endif
  %}
>
  {{ include.label }}
</button>
