<div class="card card-{{ include.cardtype }}{% if include.cardtype == "bundle" %} bg-primary-gradient drop-shadow-2{% elsif include.cardtype == "ebook" %} bg-transparent{% endif %}">
  <img src="{{site.baseurl}}/assets/img/{{ include.cardtype }}-thumb-{% if include.filter == "bundle" %}{{ i | modulo: 3 | plus: 1 }}{% else include.filter == "movie" %}{{ i | modulo: 4 | plus: 1 }}{% else %}{{ i | modulo: 6 | plus: 1 }}{% endif %}
.png"
       alt="add alt text here"
       class="card-img-top{% if include.cardtype == "ebook" %} drop-shadow-1{% elsif include.cardtype == "game" or include.cardtype == "movie" %} drop-shadow-3{% endif %}" />

  {% if include.cardtype == "bundle" %}
    <div class="card-body py-5 px-6">
      <p class="card-title mb-0"><a href="{{ include.cardtype }}.html" class="card-link stretched-link">Young and In Love</a></p>
      <p class="card-text">6 eBooks</p>
    </div>
  {% elsif include.cardtype == "ebook" %}
    <div class="card-body pt-5 pb-0 px-0">
      <div class="ebook-progress mb-4">
        {% include progress-bar.html percentage=percentage %}
      </div>
      <p class="card-text"><a href="{{ include.cardtype }}.html" class="card-link stretched-link">Read Now</a></p>
    </div>
  {% endif %}
</div>
