<h1>{{ include.cardtype }}s</h1>

<div class="row g-5 mb-5 {% if include.cardtype == "bundle" %} row-cols-1 row-cols-md-2 row-cols-lg-3{% elsif include.cardtype == "game" %} row-cols-2 row-cols-md-3 row-cols-lg-4{% else %}row-cols-2 row-cols-md-4 row-cols-lg-6{% endif %}">
  {% for i in (1..include.cardnum) %}
    {% capture percentage %}{{ i | times: 10 }}{% endcapture %}
    <div class="col">
      {% include card.html cardtype=include.cardtype percentage=percentage %}
    </div>
  {% endfor %}
</div>
