<div class="container-md p-0">
  <div class="cta cta-top cta-carousel">
    <div id="homePageCarousel" class="carousel slide">
      <div
        class="carousel-indicators align-items-center justify-content-end mx-0 position-absolute"
      >
        <button
          type="button"
          aria-label="Play/Pause"
          class="carousel-pause-play carousel-pause me-3 border-0"
        ></button>
        {% for i in (1..4) %}
        <button
          type="button"
          data-bs-target="#homePageCarousel"
          data-bs-slide-to="{{ i | minus: 1 }}"
          aria-label="Slide {{ i }}"
          class="carousel-dot mx-2 border-0 {% if i == 1 %}active{% endif %}"
          aria-current="{% if i == 1 %}true{% endif %}"
        ></button>
        {% endfor %}
      </div>

      <div class="carousel-inner drop-shadow-4">
        {% for i in (1..4) %}
        <div class="carousel-item{% if i == 1 %} active{% endif %}">
          <a href="#" class="carousel-link">
            {% capture image %}assets/img/top-cta-sm-{{ i }}.png{% endcapture %}<!--  -->
            {% capture image2x %}assets/img/top-cta-sm-{{ i }}@2x.png{%
            endcapture %}<!--  -->
            {% capture imageLarge %}assets/img/top-cta-{{ i }}.png{% endcapture
            %}<!--  -->
            {% capture imageLarge2x %}assets/img/top-cta-{{ i }}@2x.png{%
            endcapture %}<!--  -->
            {% include picture.html image=image image2x=image2x
            imageLarge=imageLarge imageLarge2x=imageLarge2x altText="alt text"
            extraClasses="d-block carousel-image" %}
          </a>
        </div>
        {% endfor %}
      </div>

      <div
        class="carousel-prev position-absolute d-none d-lg-flex align-items-center top-0 bottom-0 p-4 p-lg-7"
      >
        <button
          class="carousel-control-prev position-static d-inline-block"
          type="button"
          data-bs-target="#homePageCarousel"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon align-items-center d-inline-flex justify-content-center"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <div
        class="carousel-next position-absolute d-none d-lg-flex align-items-center top-0 bottom-0 p-4 p-lg-7"
      >
        <button
          class="carousel-control-next position-static d-inline-block"
          type="button"
          data-bs-target="#homePageCarousel"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon align-items-center d-inline-flex justify-content-center"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
