<div class="container-md px-0 choose-subscription">
  <form method="post" novalidate>
    <div class="row">
      <ul class="breadcrumbs mb-4">
        <li class="breadcrumb__item"><span>Your Info</span></li>
        <li class="breadcrumb__item"><span>Create Password</span></li>
        <li class="breadcrumb__item current"><span>Subscription</span></li>
      </ul>
    </div>
    <div class="row subscription__header">
      <div class="col-12 col-md-6">
        <h1 class="subscription__heading mb-7 mb-md-0">Subscription</h1>
      </div>
      <div
        class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end align-items-end"
      >
        {% include components/button.html type="rounded-pink" label="Skip for
        now" extraClasses="subscription-info__button drop-shadow-5" %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% include components/body-copy.html copy='Please choose a subscription
        type:' extraClasses='mb-6' %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div
          class="container-md px-0 px-lg-0 mb-11 mb-lg-17 subscription-options"
        >
          <div class="row g-5">
            {% for option in site.data.subscription-options %}<!--  -->
            {% if option.type == "regular" %}<!--  -->
            {% assign selected = false %}<!--  -->
            {% if option.id == "monthly" %}{% assign selected = true %}{% endif
            %}
            <div
              class="col-12 col-sm-6 text-center subscription-option{% if selected %} selected{% endif %}"
            >
              {% include components/subscription-option.html selected=selected
              id=option.id price=option.price name=option.name type=option.type
              features=option.features showSelector=true %}
            </div>
            {% endif %}<!--  -->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% include components/body-copy.html copy='Your billing period will not
      begin until the end of your FREE 7 day trial.'
      extraClasses='subscription__billing-period' %}
    </div>
    <div class="row">
      <div class="subscription__form">
        <input type="hidden" id="validateBillingAddress" value="true" />
        {% include forms/billing-address-form.html %}<!--  -->

        {% include forms/credit-card-form.html %}

        <div class="subscription__buttons">
          {% include components/button.html type="rounded-transparent"
          label="Back" extraClasses="normal-text back-arrow-button px-6 px-md-8
          me-3 me-md-4" %} {% include components/button.html type="rounded-pink"
          label="Complete Sign Up" extraClasses="subscription-info__button px-6
          px-md-8 drop-shadow-5" buttonType="submit" %}
        </div>

        <div class="d-flex justify-content-end mb-16">
          <img
            src="{{site.baseurl}}/assets/img/norton.svg"
            alt="Norton Secured"
          />
        </div>
      </div>
    </div>
  </form>
</div>
