<div class="customer-service__contact">
  {% include body-copy.html copy="<strong>Customer Service</strong>"
  extraClasses="mb-0" %}<!--  -->

  {% include body-copy.html copy="Lorem ipsum dolor sit amet consectetur
  adipiscin:<br />555-555-5555" extraClasses="mb-6" %}<!--  -->

  {% if include.editForm %}<!--  -->

  {% include body-copy.html copy='Changes to your subscription type will go into
  effect at the end of the current billing cycle. Your chosen subscription will
  be auto renewed of the current billing cycle.' extraClasses='mb-6' %}<!--  -->

  {% include body-copy.html copy='<a href="#">View Terms & Conditions</a>'
  extraClasses='customer-service__terms mb-11' %}<!--  -->

  {% endif %}
</div>
