<div class="container-md p-0">
  <div class="detail-view mb-12">
    {% include button.html type="rounded-transparent" label="Back"
    extraClasses="normal-text back-arrow-button ps-8 pe-8" %} {% if
    {{page.itemtype}} == "ebook" %}
    <div class="row gx-5 mt-7">
      <div
        class="detail-view_col-1 col-lg-3 text-center text-lg-start mb-7 mb-0-lg"
      >
        <img
          src="/assets/img/ebook-detail.png"
          class="w-100 drop-shadow-1 detail-view__image"
          alt="Preview Image"
        />
      </div>

      <div class="detail-view_col-2 col-lg-6">
        <div class="detail-view_info pe-6 ps-6">
          <h1 class="mb-6 text-center text-lg-start">
            Sawyer & Cowboy Above the Law
          </h1>
          <div class="detail-view__meta mb-10 text-center text-lg-start">
            <p>
              By Lori Foster / Pub Month: December 2020<br />Genre: Western
              Romance
            </p>
            <p>Miniseries: Albin Academy (Book #2)</p>
          </div>
          <div class="detail-view__description">
            <p><strong>A SAFE HAVEN</strong></p>
            <p>
              As the only doctor in Buckhorn County, Kentucky, Sawyer Hudson
              knows a thing or two about saving lives. But when he rescues the
              beautiful Honey Malone from a car wreck and invites her to stay at
              his home so he can nurse her back to health, he finds himself
              dreading the day she’s well enough to walk away. Because now that
              he’s met the woman of his dreams, he’s not about to let her go.
            </p>
            <p>
              Honey’s been on the run for days, but when a car accident lands
              her in Sawyer’s arms, she’s never felt safer. Can he convince her
              that it’s okay to stop running—and build a future in the one place
              that’s finally felt like home?
            </p>
          </div>
        </div>
      </div>

      <div class="detail-view_col-3 col-lg-3">
        <div class="detail-view__progress mb-8">
          <p>80% OF BOOK READ</p>
          {% include progress-bar.html percentage=80 %}
        </div>
        <div class="detail-view__controls mb-10 mb-lg-0">
          {% include button.html type="rounded-full-width" label="Mark as Read"
          extraClasses="detail-view__mark-button normal-text black-v2
          checkmark-button mb-5" %} {% include button.html
          type="rounded-full-width" label="Read Now"
          extraClasses="detail-view__read-button normal-text light-purple
          drop-shadow-5" %}
        </div>
      </div>
    </div>
    {% elsif {{page.itemtype}} == "movie" %}
    <div class="row gx-5 mt-7">
      <div
        class="detail-view_col-1 col-lg-3 text-center text-lg-start mb-7 mb-0-lg"
      >
        <img
          src="/assets/img/movie-detail.png"
          class="w-100 drop-shadow-1 detail-view__image"
          alt="Preview Image"
        />
      </div>

      <div class="detail-view_col-2 col-lg-6">
        <div class="detail-view_info pe-6 ps-6">
          <h1 class="mb-6 text-center text-lg-start">
            Amour, Romance & Chocolat
          </h1>
          <div class="detail-view__meta mb-10 text-center text-lg-start">
            <p>2h 14min | 2019<br />Genre: Western Romance</p>
            <p>
              Director: Jane Smith Starring: Denise McLean, Emma Branch, Timothy
              Hughes
            </p>
          </div>
          <div class="detail-view__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>
              Maecenas ut odio a dolor vehicula fermentum. Sed pretium mauris
              sit amet suscipit sodales. Sed dui velit, molestie quis ligula id,
              feugiat mattis dolor. Nulla suscipit tellus quis risus congue, et
              egestas lorem cursus.
            </p>
            <p>
              Sed dignissim, diam nec sodales laoreet, ante purus volutpat
              dolor, vestibulum egestas nulla sapien quis massa. Sed scelerisque
              nunc in magna fringilla, vitae volutpat diam malesuada. Mauris ut
              ipsum lacinia, tempus dui congue, imperdiet tellus. Aliquam erat
              volutpat. Fusce vitae vehicula est. Donec ut nibh ligula. Sed
              lectus sem, tempor a sollicitudin non, interdum sed arcu.
            </p>
          </div>
        </div>
      </div>

      <div class="detail-view_col-3 col-lg-3">
        <div class="detail-view__controls mb-10 mb-lg-0">
          {% include button.html type="rounded-full-width" label="Watch Trailer"
          extraClasses="normal-text transparent mb-5" %} {% include button.html
          type="rounded-full-width" label="Watch Movie"
          extraClasses="normal-text light-purple drop-shadow-5" %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
