<div class="filter-sort-btns d-flex">
    <button
            type="button"
            class="btn btn-primary buttons__filter filter-sort-btns__filter-button"
    >
        <span class="filter-button__text">Filter</span>
    </button>

    <div class="filter-sort-btns__sort d-flex">
        <div class="filter-sort-btns__sort__title">Sort:</div>
        <div class="filter-sort-btns__sort__dropdown">
            <select class="filter-sort-btns__sort-select" aria-label="Sort by select">
                <option value="1">Title A-Z</option>
                <option value="2">Title Z-A</option>
                <option value="3">Relevance</option>
                <option value="4" selected>Most Recent</option>
                <option value="5">Popularity</option>
            </select>
        </div>
    </div>
</div>
