<div class="filter-sort-btns d-flex">
  <button
    type="button"
    class="btn btn-primary buttons__filter filter-sort-btns__filter-button"
  >
    <span class="filter-button__text">Filter</span>
  </button>

  <div class="filter-sort-btns__sort d-flex">
    <div class="filter-sort-btns__sort__title">Sort:</div>
    {% assign selectOptions = "Title A-Z,Title Z-A,Relevance,Most Recent,Popularity" | split: ',' %}
    {% include select-dropdown.html aria-label="Sort by select" options=selectOptions selected="4" %}
  </div>
</div>
