<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="row">
        <div class="col-12 footer-logo">
          <img src="{{site.baseurl}}/assets/img/footer-logo.svg" alt="Harlequin Logo" />
        </div>
        <nav aria-label="Legal menu" class="col-12">
          <ul role="menu" aria-label="Legal links" class="footer-nav-list">
            {% for item in site.data.footer-nav %}
              <li role="menuitem" class="footer-nav-item">
                <a href="{{ item.link }}"
                  role="button"
                  class="footer-nav-link"
                  rel="noreferrer noopener"
                  {% if page.url == item.link %}class="current"{% endif %}>
                  {{ item.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="copyright">
          Copyright © 2000-2021 Harlequin Enterprises ULC. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
