<div class="container-md p-0">
  <div class="games-list">
    <div class="row mx-0 mb-3 mb-lg-5 align-items-center">
      <div class="col-lg-4 p-0">
        {% include components/list-title.html title='Games' %}
      </div>

      <div class="col-lg-8 my-5 my-lg-0 p-0">
        {% include forms/filter-sort-btns.html page="games" %}
      </div>
    </div>

    <div
      class="row main-content g-5 mb-5 mx-n3 row-cols-2 row-cols-md-3 row-cols-lg-4"
    >
      {% for i in (1..20) %}
      <div class="col mt-5 mt-sm-6 mt-md-7 mt-lg-8 mt-xl-11">
        {% include cards/game-card.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if include.userSub == "false" %}<!--  -->

{% include modals/modal-subscription-required.html %}<!--  -->

{% endif %}
