<div class="games-row">
  {% include row-title.html title="Games" rowtype="games" %}

  <div class="row g-5 mb-5 row-cols-2 row-cols-md-3 row-cols-lg-4">
    {% for i in (1..4) %}
    <div class="col">
      <div class="card card-game">
        <a href="#">
          <img
            src="{{site.baseurl}}/assets/img/game-thumb-{{ i | modulo: 4 | plus: 1 }}.png"
            alt="alt text"
            class="card-img-top drop-shadow-3"
          />
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
