<div class="container p-0 landing-intro">
  <div class="row">
    <div class="col col-lg-6">
      <div class="landing-intro__image">
        <img
          src="{{site.baseurl}}/assets/img/harlequin-plus-logo.svg"
          alt="Harlequin Plus Logo"
          class="w-100"
        />
      </div>
      <h1 class="landing-intro__heading my-10">Get more to <em>love</em>.</h1>

      {% include body-copy.html copy='Donec porta, tellus vel efficitur luctus,
      risus metus tincidunt metus, id vehicula nibh erat eu ligula. Ut vitae
      felis nec quam facilisis bibendum vel at orci.' extraClasses="my-10" %}

      <div>
        {% include button.html type="rounded-pink" label="Subscribe Now"
        extraClasses="subscription-info__button drop-shadow-5" %}
      </div>
    </div>
  </div>
</div>

<div class="container p-0 landing-bundles">
  <div class="row align-items-center">
    <div class="col col-lg-6">
      <div class="landing-bundles__image">
        {% capture image %}assets/img/books.png{% endcapture %}<!--  -->
        {% capture image2x %}assets/img/books@2x.png{% endcapture %}<!--  -->
        {% include picture.html image=image image2x=image2x altText="alt text"
        %}
      </div>
    </div>
    <div class="col col-lg-5 offset-lg-1">
      <h1 class="landing__heading mb-7">
        Lorem ipsum dolor sit amet, consectetur.
      </h1>
      {% include body-copy.html copy='Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Morbi et lacus ac neque lobortis ultrices. Nam tincidunt
      in lectus eu ullamcorper. Praesent pharetra, neque in pharetra placerat,
      metus metus efficitur nisi, auctor rutrum ipsum nisl ut urna.' %}<!-- -->
      {% include body-copy.html copy='Fusce interdum, enim a lobortis consequat,
      turpis leo imperdiet tellus, at rutrum purus augue sed mi.' %}
    </div>
  </div>
</div>

<div class="container-fluid p-0 landing-ebooks">
  <div class="container p-0">
    <div class="row align-items-center">
      <div class="col col-lg-5 offset-lg-1">
        <h1 class="landing__heading mb-7">
          Free library of eBooks each month.
        </h1>
        {% include body-copy.html copy='Donec porta, tellus vel efficitur
        luctus, risus metus tincidunt metus, id vehicula nibh erat eu ligula. Ut
        vitae felis nec quam facilisis bibendum vel at orci.' %}
      </div>
      <div class="col col-lg-6">
        <div class="landing-ebooks__image">
          {% capture image %}assets/img/tablet.png{% endcapture %}<!--  -->
          {% capture image2x %}assets/img/tablet@2x.png{% endcapture %}<!--  -->
          {% include picture.html image=image image2x=image2x altText="alt text"
          %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-0 landing-games-movies">
  <div class="row align-items-center">
    <div class="col col-lg-6">
      <div class="landing-games-movies__image">
        {% capture image %}assets/img/games-movies.png{% endcapture %}<!--  -->
        {% capture image2x %}assets/img/games-movies@2x.png{% endcapture %}<!--  -->
        {% include picture.html image=image image2x=image2x altText="alt text"
        %}
      </div>
    </div>
    <div class="col col-lg-5 offset-lg-1">
      <h1 class="landing__heading mb-7">
        Unlimited access to movies and games.
      </h1>
      {% include body-copy.html copy='Donec porta, tellus vel efficitur luctus,
      risus metus tincidunt metus, id vehicula nibh erat eu ligula. Ut vitae
      felis nec quam facilisis bibendum vel at orci.' %}
    </div>
  </div>
</div>

<div class="container-fluid px-0 landing-devices">
  <div class="container p-0">
    <div class="row justify-content-center text-center">
      <div class="col col-lg-4 offset-lg-4 me-auto mb-13">
        <div>
          <img
            src="{{site.baseurl}}/assets/img/devices.svg"
            alt="alt text"
            class="w-100"
          />
        </div>
      </div>
      <div class="col col-lg-6 offset-lg-3 me-auto">
        <h1 class="landing__heading mb-7">At home and on the go.</h1>
        {% include body-copy.html copy='Donec porta, tellus vel efficitur
        luctus, risus metus tincidunt metus, id vehicula nibh erat eu ligula. Ut
        vitae felis nec quam facilisis bibendum vel at orci.' %}
      </div>
    </div>
  </div>
</div>

<div class="container p-0 landing-subscription-options">
  <div class="row justify-content-center text-center">
    <div class="col">
      <div class="landing-subscription-options__image mx-auto">
        <img
          src="{{site.baseurl}}/assets/img/harlequin-plus-logo.svg"
          alt="Harlequin Plus Logo"
          class="w-100"
        />
      </div>

      <div class="subscription-options mt-13">
        <div class="row g-5">
          {% for option in site.data.subscription-options %}<!--  -->
          {% assign selected = false %}<!--  -->
          {% if option.id == "monthly" %}{% assign selected = true %}{% endif %}
          <div
            class="col-12 col-sm-6 col-lg-3 subscription-option{% if selected %} selected{% endif %}"
          >
            {% include subscription-option.html selected=selected id=option.id
            price=option.price type=option.type features=option.features
            showSelector=true %}
          </div>
          {% endfor %}
        </div>
      </div>

      <div>
        {% include button.html type="rounded-pink" label="Subscribe Now"
        extraClasses="subscription-info__button drop-shadow-5" %}
      </div>
    </div>
  </div>
</div>
