<div class="popup-modal__content">
  <div class="popup-modal__title mb-6 mb-lg-7">
    <span class="popup-modal__sub-title">{{ include.subTitle }}</span>
    {{ include.title }}
  </div>

  <div class="popup-modal__body-text mb-8 mb-lg-9">{{ include.bodyText }}</div>

  <div class="popup-modal__buttons d-flex justify-content-end">
    {% include button.html type="rounded-transparent"
    label=include.cancelButtonText extraClasses="normal-text dark-grey px-7
    px-sm-8" %}
    <!--  -->
    {% include button.html type="rounded-pink" label=include.buttonText
    extraClasses="normal-text px-7 px-sm-8" %}
  </div>
</div>
