<div class="popup-modal__content">
  <div class="popup-modal__title mb-6 mb-lg-7">{{ include.title }}</div>

  <div class="popup-modal__body-text mb-10 mb-sm-12 mb-lg-15">
    {{ include.bodyText }}
  </div>

  <div class="popup-modal__buttons d-flex justify-content-end">
    {% include button.html type="rounded-transparent"
    label=include.cancelButtonText extraClasses="normal-text dark-grey px-7
    px-sm-8" %}
    <!--  -->
    {% include button.html type="rounded-pink" label=include.mobileButtonText
    extraClasses="normal-text d-lg-none red px-7 px-sm-8" %}
    <!--  -->
    {% include button.html type="rounded-red" label=include.buttonText
    extraClasses="normal-text d-none d-lg-block red px-7 px-sm-8" %}
  </div>
</div>
