<div
  class="popup-modal d-flex justify-content-center align-items-center w-100 h-100 position-fixed top-0 start-0"
  aria-modal="true"
  aria-hidden="false"
>
  <div class="popup-modal_content {{ include.modaltype }}">
    <button
      type="button"
      class="popup-modal__btn-close"
      data-bs-dismiss="modal"
      aria-label="Close Modal"
    >
      <img
        src="{{site.baseurl}}/assets/img/icons/close-dark-grey.svg"
        class="w-100 d-block"
        alt="Close Icon"
      />
    </button>

    {% if include.modaltype == "default" %}
    <div class="text-center">
      <div class="popup_modal__body-text">{{ include.bodyText }}</div>

      {% include button.html type="rounded-pink" label=include.buttonText
      extraClasses="normal-text mt-6 pe-8 ps-8" %}
    </div>
    {% endif %}
  </div>
</div>
