<div class="container-md p-0">
  <div class="detail-view mb-13">
    {% include components/button.html type="rounded-transparent" label="Back"
    extraClasses="normal-text back-arrow-button px-8" %}

    <div class="row gx-5 mt-7">
      <div
        class="detail-view_col-1 col-lg-3 text-center text-lg-start mb-7 mb-lg-0"
      >
        <img
          src="/assets/img/movie-detail.png"
          class="w-100 drop-shadow-1 detail-view__image"
          alt="Preview Image"
        />
      </div>

      <div class="detail-view_col-2 col-lg-6">
        <div class="detail-view_info px-6">
          <h1 class="mb-6 text-center text-lg-start">
            Amour, Romance &amp; Chocolat
          </h1>
          <div class="detail-view__meta mb-11 text-center text-lg-start">
            {% include components/body-copy.html copy="2h 14min | 2019<br />Genre:
            Western Romance" %}
            <!--  -->
            {% include components/body-copy.html copy="Director: Jane Smith
            Starring: Denise McLean, Emma Branch, Timothy Hughes" %}
          </div>
          <div class="detail-view__description">
            {% include components/body-copy.html copy="Lorem ipsum dolor sit
            amet, consectetur adipiscing elit." %}
            <!--  -->
            {% include components/body-copy.html copy="Maecenas ut odio a dolor
            vehicula fermentum. Sed pretium mauris sit amet suscipit sodales.
            Sed dui velit, molestie quis ligula id, feugiat mattis dolor. Nulla
            suscipit tellus quis risus congue, et egestas lorem cursus." %}
            <!--  -->
            {% include components/body-copy.html copy="Sed dignissim, diam nec
            sodales laoreet, ante purus volutpat dolor, vestibulum egestas nulla
            sapien quis massa. Sed scelerisque nunc in magna fringilla, vitae
            volutpat diam malesuada. Mauris ut ipsum lacinia, tempus dui congue,
            imperdiet tellus. Aliquam erat volutpat. Fusce vitae vehicula est.
            Donec ut nibh ligula. Sed lectus sem, tempor a sollicitudin non,
            interdum sed arcu." %}
          </div>
        </div>
      </div>

      <div class="detail-view_col-3 col-lg-3">
        <div class="detail-view__controls mb-11 mb-lg-0">
          {% include components/button.html type="rounded-full-width"
          label="Watch Trailer" extraClasses="normal-text transparent mb-5" %}
          <!--  -->
          {% include components/button.html type="rounded-full-width"
          label="Watch Movie" extraClasses="normal-text light-purple" %}
        </div>
      </div>
    </div>
  </div>
</div>
