<div class="container-md p-0">
  <div class="movies-list">
    <div class="row mx-0 mb-lg-4 align-items-center">
      <div class="col-lg-4 p-0">
        {% include components/list-title.html title="Movies" %}
      </div>

      <div class="col-lg-8 mt-5 mb-10 my-lg-0 p-0">
        {% include forms/filter-sort-btns.html page="movies" %}
      </div>
    </div>

    <div
      class="row main-content g-5 mb-5 mx-n3 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6"
    >
      {% for i in (1..24) %}
      <div class="col mt-5 mt-sm-6 mt-md-7 mt-lg-8 mt-xl-13">
        {% include cards/movie-card.html %}
      </div>
      {% endfor %}
    </div>

    {% if include.loader == true %}
    <!--  -->
    {% include components/loader.html %}
    <!--  -->
    {% endif %}
  </div>
</div>
