<div class="container-md p-0">
  <div class="order-detail-view mb-8 mb-lg-17">
    {% include components/button.html type="rounded-transparent" label="Back"
    extraClasses="back-arrow-button mb-6 mb-sm-8 mb-lg-11" link="/order-history"
    %}

    <h1 class="order-detail-view__title mb-6 mb-sm-8 mb-lg-9">Order Detail</h1>

    <div class="row gx-6">
      <div class="col-lg-8 col-xl-9 order-2 order-lg-1">
        {% capture tableHeader %}
        <tr>
          <th>Bundle</th>
          <th>Books</th>
        </tr>
        {% endcapture %}

        <!--  -->

        {% capture tableBody %}<!--  -->
        {% for item in site.data.order-detail %}
        <tr>
          <td class="align-top"><strong>{{ item.bundle }}</strong></td>
          <td>
            {% for book in item.books %}
            <!--  -->
            <div class="order-detail-view__book-info mb-5">
              <strong class="d-block">{{ book.title }}</strong>
              {{ book.author }}
            </div>
            <!--  -->
            {% endfor %}
          </td>
        </tr>
        {% endfor %}<!--  -->
        {% endcapture %}

        <!--  -->

        {% include components/table.html tableHeader=tableHeader
        tableBody=tableBody extraClasses="order-detail-view__table" %}
      </div>

      <div class="col-lg-4 col-xl-3 order-1 order-lg-2 mb-11 mb-lg-0">
        <div class="order-detail-view__summary-box">
          <h2 class="order-detail-view__summary-title mb-5">Order Summary</h2>

          <div class="order-detail-view__summary-info-wrapper">
            <div class="order-detail-view__summary-content">
              <div class="order-detail-view__summary-info">
                {% include components/body-copy.html copy="<strong
                  >Order #</strong
                >" %}
                <!--  -->
                {% include components/body-copy.html copy="511013459" %}
              </div>

              <div class="order-detail-view__summary-info">
                {% include components/body-copy.html copy="<strong
                  >Order Type</strong
                >" %}
                <!--  -->
                {% include components/body-copy.html copy="6 eBook Bundle" %}
              </div>

              <div class="order-detail-view__summary-info">
                {% include components/body-copy.html copy="<strong
                  >Order Date</strong
                >" %}
                <!--  -->
                {% include components/body-copy.html copy="December 1, 2020" %}
              </div>
            </div>

            {% if include.buttonText %}
            <!--  -->
            {% include components/button.html label=include.buttonText
            extraClasses="order-detail-view__track-order-button mt-7 mb-2
            mb-sm-0" %}
            <!--  -->
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
