<div class="container-md p-0">
  <div class="order-history mb-8 mb-lg-13">
    <h1 class="order-history__title mb-8 mb-lg-11">Order History</h1>

    {% include components/body-copy.html copy="Your current Harlequin Plus order
    status is summarized below. Please note: Order Status details are accessible
    for 6 months." extraClasses="mb-8 mb-lg-10" %}

    <!--  -->

    {% capture tableHeader %}
    <tr>
      <th>Order #</th>
      <th>Order Date</th>
      <th class="d-none d-md-table-cell">Status</th>
      <th>Order Type</th>
    </tr>
    {% endcapture %}

    <!--  -->

    {% capture tableBody %}<!--  -->
    {% for item in site.data.order-history %}
    <tr>
      <td><a href="/order-detail">{{ item.order }}</a></td>
      <td>{{ item.date }}</td>
      <td class="d-none d-md-table-cell">{{ item.status }}</td>
      <td>{{ item.type }}</td>
    </tr>
    {% endfor %}<!--  -->
    {% endcapture %}

    <!--  -->

    {% include components/table.html tableHeader=tableHeader tableBody=tableBody
    %}
  </div>
</div>
