<div class="container-md p-0">
  <div class="profile-edit-view profile-edit-view__edit-email mb-8 mb-lg-15">
    {% include button.html type="rounded-transparent" label="Back"
    extraClasses="normal-text back-arrow-button px-8 mb-7 mb-lg-11" %}

    <h1 class="profile-edit-view__title mb-6 mb-lg-7">Edit Your Password</h1>

    <form method="post" novalidate>
      {% include form-input.html id="confirmPassword" label="Old Password"
      placeholder="Old Password" type="password" errorMessage="The password is
      incorrect." %}

      <!--  -->

      {% include form-input.html id="newPassword" label="New Password"
      placeholder="New Password" type="text" errorMessage="Please input a valid
      password." passwordToggle=true %}

      <!--  -->

      {% include form-password-strength.html %}

      <!--  -->

      {% include body-copy.html copy="Passwords must be at least 8 characters
      and must contain at least one uppercase letter, one lowercase letter, and
      one number. Passwords are case sensitive,"
      extraClasses="profile-edit-view__password-instructions mb-6" %}

      <!--  -->

      {% include form-input.html id="confirmNewPassword" label="Confirm
      Password" placeholder="Confirm Password" type="text" errorMessage="The
      passwords do not match." passwordToggle=true %}

      <div class="d-flex justify-content-end mt-13 mt-lg-11">
        <!--  -->
        {% include button.html type="rounded-transparent" label="Cancel"
        extraClasses="normal-text white px-8 me-4" %}

        <!--  -->
        {% include button.html type="rounded-pink" label="Save"
        extraClasses="normal-text px-8 drop-shadow-5" buttonType="submit" %}
      </div>
    </form>
  </div>
</div>
