<div class="container-md p-0">
  <div class="profile-edit-view profile-edit-view__edit-email mb-8 mb-lg-15">
    {% include components/button.html type="rounded-transparent" label="Back"
    extraClasses="back-arrow-button mb-7 mb-lg-11" %}

    <h1 class="profile-edit-view__title mb-6 mb-lg-7">Edit Your Info</h1>

    <form method="post" novalidate>
      {% include forms/form-input.html label="First Name" type="text"
      placeholder="First Name" value="Brennan" id="firstName"
      errorMessage="Please enter a first name." %}<!-- -->

      {% include forms/form-input.html label="Last Name" type="text"
      id="lastName" placeholder="Last Name" value="MacDonald"
      errorMessage="Please enter a last name." %}

      <fieldset class="form__input">
        <label>Date of Birth</label>
        <div class="profile-edit-view__dob">
          {% assign selectOptions="January,February,March,April,
          May,June,July,August,September, October,November,December" | split:
          ',' %}<!-- -->
          {% include forms/select-dropdown.html id="dobMonthsDropdown"
          options=selectOptions btnExtraClasses="profile-edit-view__dob-btn"
          menuExtraClasses="profile-edit-view__dob-menu"%}<!-- -->

          {% assign selectOptions=(1..31) %}<!-- -->
          {% include forms/select-dropdown.html id="dobDaysDropdown"
          options=selectOptions btnExtraClasses="profile-edit-view__dob-btn"
          menuExtraClasses="profile-edit-view__dob-menu"%}<!-- -->

          {% assign selectOptions=(1900..2021) %}<!-- -->
          {% include forms/select-dropdown.html id="dobYearsDropdown"
          options=selectOptions btnExtraClasses="profile-edit-view__dob-btn"
          menuExtraClasses="profile-edit-view__dob-menu"%}
        </div>
        <div class="form__error mt-3 d-none" role="alert">
          Date of Birth is invalid.
        </div>
      </fieldset>

      <div class="d-flex justify-content-end mt-13 mt-lg-11">
        <!--  -->
        {% include components/button.html type="rounded-transparent"
        label="Cancel" link="/user-profile" extraClasses="white me-4" %}

        <!--  -->
        {% include components/button.html label="Save" buttonType="submit" %}
      </div>
    </form>
  </div>
</div>
