<div class="container-md p-0">
  <div class="profile-edit-view profile-edit-view__edit-email mb-8 mb-lg-15">
    {% include components/button-link.html type="rounded-transparent"
    label="Back" extraClasses="back-arrow-button mb-7 mb-lg-11"
    link="/user-profile" %}

    <h1 class="profile-edit-view__title mb-6 mb-lg-7">Edit Your Password</h1>

    <form method="post" novalidate>
      {% include forms/form-input.html id="confirmPassword" label="Old Password"
      placeholder="Old Password" type="password" errorMessage="The password is
      incorrect." %}

      <!--  -->

      {% include forms/form-password.html %}

      <div class="d-flex justify-content-end mt-13 mt-lg-11">
        <!--  -->
        {% include components/button-link.html type="rounded-transparent"
        label="Cancel" link="/user-profile" extraClasses="white me-4" %}

        <!--  -->
        {% include components/button.html label="Save" buttonType="submit" %}
      </div>
    </form>
  </div>
</div>
