<div class="container-md p-0">
  <div class="profile-edit-view profile-edit-view__edit-email mb-8 mb-lg-15">
    {% include components/button-link.html type="rounded-transparent"
    label="Back" extraClasses="back-arrow-button mb-7 mb-lg-11"
    link="/user-profile" %}

    <h1 class="profile-edit-view__title mb-6 mb-lg-7">Edit Your Email</h1>

    <div class="profile-edit-view__email-box mb-8">
      {% include components/body-copy.html copy="Current Email Address"
      extraClasses="profile-edit-view__email-box-heading mb-4" %}

      <!--  -->

      {% include components/body-copy.html copy="brennan.macdonald@redspace.com"
      extraClasses="profile-edit-view__email-box-value" %}
    </div>

    <form method="post" novalidate>
      {% include forms/form-input.html label="New Email Address" type="email"
      placeholder="New Email Address" id="newEmail" errorMessage="Email Address
      is incorrect." %}

      <!-- -->
      {% include forms/form-input.html label="Harlequin Plus Password"
      type="password" placeholder="Harlequin Plus Password" id="confirmPassword"
      errorMessage="Password is incorrect." %}

      <div class="d-flex justify-content-end mt-13 mt-lg-11">
        <!--  -->
        {% include components/button-link.html type="rounded-transparent"
        label="Cancel" link="/user-profile" extraClasses="white me-4" %}

        <!--  -->
        {% include components/button.html label="Save" buttonType="submit" %}
      </div>
    </form>
  </div>
</div>
