<div class="container-md p-0">
  <div class="profile-view mb-8 mb-lg-15">
    <h1 class="profile-view__title mb-9 mb-lg-11">My Profile</h1>

    <div class="main-content">
      <div class="profile-view__editable-content mb-11">
        {% include profile-edit-box.html heading="
        <strong>Brennan MacDonald</strong>" content=" Date of Birth: 4/11/83"
        link="/user-edit-info" %}

        <!--  -->

        {% include profile-edit-box.html heading="<strong>Email:</strong>"
        content=" brennan.macdonald@redspace.com" link="/user-edit-email" %}

        <!--  -->

        {% include profile-edit-box.html content=" Password: ************"
        link="/user-edit-password"%}
      </div>

      {% include customer-service-block.html %}<!--  -->
    </div>
  </div>
</div>
