<div class="container-md p-0">
  <div class="selection-summary mb-8 mb-lg-14">
    <h1 class="selection-summary__title mb-8 mb-lg-14">Selection Summary</h1>

    {% include body-copy.html copy="Below is a summary of all your available
    monthly selections." extraClasses="mb-7 mb-lg-12" %}

    <div class="main-content row gx-6">
      <div class="col-lg-3 mb-5 mb-lg-0 h-100">
        {% include summary-box.html class="selection-summary" %}
      </div>

      <div class="col-lg-9">
        {% capture tableHeader %}
        <tr>
          <th>Selection Issued</th>
          <th>Expires</th>
        </tr>
        {% endcapture %}

        <!--  -->

        {% capture tableBody %}<!--  -->
        {% for item in site.data.selection-summary %}
        <tr>
          <td>{{ item.issued }}</td>
          <td class="text-end text-sm-start">{{ item.expire }}</td>
        </tr>
        {% endfor %}<!--  -->
        {% endcapture %}

        <!--  -->

        {% include table.html tableHeader=tableHeader tableBody=tableBody
        extraClasses="selection-summary__table" %}
      </div>
    </div>
  </div>
</div>
