<div class="select-dropdown-control">
  <button
    class="btn dropdown-toggle select-dropdown-control-btn"
    type="button"
    id="selectDropdownButton"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  ></button>
  <ul class="dropdown-menu select-dropdown-control-menu" aria-labelledby="selectDropdownButton">
    {% for option in include.options %}
      {% capture i %}{{ forloop.index }}{% endcapture %}
      <li><a class="dropdown-item" href="#" val="{{ i }}" {% if include.selected == i %}active{% endif %}>{{ option }}</a></li>
    {% endfor %}
  </ul>
</div>
