<div class="select-dropdown-control">
  <button
    class="btn dropdown-toggle select-dropdown-control-btn {{ include.btnExtraClasses }}"
    type="button"
    id="select-{{ include.id }}"
    data-bs-toggle="dropdown"
    data-bs-offset="[0, -7]"
    aria-expanded="false"
    aria-haspopup="listbox"
    {%
    if
    include.display
    %}
    data-bs-display="{{ include.display }}"
    {%
    endif
    %}
  ></button>
  <ul
    class="dropdown-menu select-dropdown-control-menu {{ include.menuExtraClasses }}"
    aria-labelledby="select-{{ include.id }}"
    aria-haspopup="listbox"
  >
    {% for option in include.options %}<!-- -->
    {% if option.value %}<!-- -->
    {% capture i %}{{ option.value }}{% endcapture %}<!-- -->
    {% else %}<!-- -->
    {% capture i %}{{ forloop.index }}{% endcapture %}<!-- -->
    {% endif %}
    <li>
      <a
        class="dropdown-item"
        href="#"
        data-val="{{ i }}"
        data-active="{% if include.selected == i %}true{% endif %}"
      >
        {{ option.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
  <input
    type="hidden"
    name="{{ include.id }}"
    id="{{ include.id }}"
    value="{{ include.selected }}"
  />
</div>
