<div class="container-md p-0">
  <div class="subscription-payment-view mb-8 mb-lg-15">
    <h1 class="subscription-payment-view__title mb-10 mb-lg-12">
      Subscription &amp; Payment
    </h1>

    <div class="main-content">
      <div class="subscription-payment-view__editable-content mb-11">
        {% include body-copy.html copy="<strong
          >Your next billing date is December 3, 2020.</strong
        >" extraClasses="mb-6" %}

        <div class="normal-box">
          {% include body-copy.html copy="<strong>Monthly Subscription</strong>"
          extraClasses="mb-0" %}

          <!--  -->

          {% include body-copy.html copy="$14.99/month" extraClasses="mb-6" %}

          <!--  -->
          {% include body-copy.html copy="<strong>Subscribed through App</strong
          >" extraClasses="mb-0" %}

          <!--  -->

          {% include body-copy.html copy="Please visit the Subscriptions
          settings in the iOS or Android app store where you subscribed to make
          changes to your HarlequinPlus subscription." %}
        </div>
      </div>

      <div class="subscription-payment-view__contact mb-10 mb-lg-11">
        {% include body-copy.html copy="<strong>Customer Service</strong>"
        extraClasses="mb-0" %}

        <!--  -->

        {% include body-copy.html copy="Lorem ipsum dolor sit amet consectetur
        adipiscin:<br />555-555-5555" %}
      </div>
    </div>
  </div>
</div>
