<div class="container-md info__container p-0 mt-3 body-copy">
  <h1 class="info__heading mb-7 mb-sm-8 mb-md-11 mb-lg-15">
    How your subscription works.
  </h1>

  <h2 class="info__subheading mt-10 mt-lg-13 mb-4 mb-lg-5">
    HarlequinPlus Subscription Options
  </h2>

  {% include body-copy.html copy='Lorem ipsum dolor sit amet, consectetur
  adipiscing elit. Sed varius nisi non dolor pharetra imperdiet. Morbi faucibus
  eu libero sed condimentum. Nullam feugiat blandit dui, bibendum fringilla
  risus malesuada ac. Nulla venenatis maximus velit nec convallis. Sed nec dolor
  eros. Sed cursus, sapien sit amet accumsan malesuada, nulla enim ultrices
  tellus, sit amet ultrices neque lorem et nibh. Morbi posuere viverra laoreet.
  In metus orci, maximus a magna a, tempus lobortis nibh. Morbi vel dapibus
  nunc. Vestibulum sed posuere arcu, nec tincidunt ex.' %}<!-- -->

  {% include body-copy.html copy='Nam tincidunt pulvinar metus, in posuere odio
  luctus sed. Pellentesque sagittis, diam dictum euismod consectetur, purus
  libero maximus justo, ut tempor justo erat sed mauris. Lorem ipsum dolor sit
  amet, consectetur adipiscing elit. Sed varius nisi non dolor pharetra
  imperdiet. Morbi faucibus eu libero sed condimentum. Nullam feugiat blandit
  dui, bibendum fringilla risus malesuada ac. Nulla venenatis maximus velit nec
  convallis. Sed nec dolor eros. Sed cursus, sapien sit amet accumsan malesuada,
  nulla enim ultrices tellus, sit amet ultrices neque lorem et nibh. Morbi
  posuere viverra laoreet. In metus orci, maximus a magna a, tempus lobortis
  nibh. Morbi vel dapibus nunc. Vestibulum sed posuere arcu, nec tincidunt ex.'
  %}<!-- -->

  {% include body-copy.html copy='Nam tincidunt pulvinar metus, in posuere odio
  luctus sed.' %}

  <h2 class="info__subheading mt-10 mt-lg-13 mb-4 mb-lg-5">
    Lorem Ipsum Dolor Sit Amet.
  </h2>

  {% include body-copy.html copy='Nam tincidunt pulvinar metus, in posuere odio
  luctus sed. Pellentesque sagittis, diam dictum euismod consectetur, purus
  libero maximus justo, ut tempor justo erat sed mauris. Class aptent taciti
  sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin
  elementum eu ante vel convallis. Quisque venenatis felis nec odio condimentum,
  sit amet mollis dui euismod. Vestibulum eget odio dapibus, rhoncus dolor in,
  porttitor nibh. Suspendisse id aliquet erat. Nullam ut quam sed ante auctor
  eleifend. Fusce elementum neque sed ipsum laoreet, ut pellentesque quam
  ultrices. Aliquam erat volutpat. Vivamus vitae lectus convallis, vestibulum
  lectus eget, consequat metus. Nunc vitae sem placerat, rhoncus velit sed,
  laoreet ex. Phasellus porttitor quis ipsum vel hendrerit.' %}<!-- -->

  {% include body-copy.html copy='Nam tincidunt pulvinar metus, in posuere odio
  luctus sed. Pellentesque sagittis, diam dictum euismod consectetur, purus
  libero maximus justo, ut tempor justo erat sed mauris.' %}

  <div class="my-7 my-lg-13">
    <img
      src="{{site.baseurl}}/assets/img/placeholder.png"
      alt="alt text"
      class="w-100"
    />
  </div>

  <h2 class="info__subheading mt-10 mt-lg-13 mb-4 mb-lg-5">
    Lorem Ipsum Dolor Sit Amet.
  </h2>

  {% include body-copy.html copy='Nam tincidunt pulvinar metus, in posuere odio
  luctus sed. Pellentesque sagittis, diam dictum euismod consectetur, purus
  libero maximus justo, ut tempor justo erat sed mauris. Class aptent taciti
  sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin
  elementum eu ante vel convallis. Quisque venenatis felis nec odio condimentum,
  sit amet mollis dui euismod. Vestibulum eget odio dapibus, rhoncus dolor in,
  porttitor nibh. Suspendisse id aliquet erat. Nullam ut quam sed ante auctor
  eleifend. Fusce elementum neque sed ipsum laoreet, ut pellentesque quam
  ultrices. Aliquam erat volutpat. Vivamus vitae lectus convallis, vestibulum
  lectus eget, consequat metus. Nunc vitae sem placerat, rhoncus velit sed,
  laoreet ex. Phasellus porttitor quis ipsum vel hendrerit.' %}<!-- -->

  {% include body-copy.html copy='Nam tincidunt pulvinar metus, in posuere odio
  luctus sed. Pellentesque sagittis, diam dictum euismod consectetur, purus
  libero maximus justo, ut tempor justo erat sed mauris.' %}

  <div class="my-7 my-lg-13">
    <img
      src="{{site.baseurl}}/assets/img/placeholder.png"
      alt="alt text"
      class="w-100"
    />
  </div>

  <div class="info__button">
    {% include button.html type="rounded-pink" label="Subscribe Now"
    extraClasses="subscription-info__button drop-shadow-5" %}
  </div>
</div>
