<div class="popup-modal__content">
  <div class="popup-modal__title mb-4 mb-lg-7">{{ include.title }}</div>

  <div
    class="popup-modal__bundle-selection py-6 py-lg-7 pb-8 pb-lg-7 mb-7 mb-lg-8"
  >
    <div class="row gx-5 gx-lg-6 d-flex align-items-center">
      <div class="col-6 popup-modal__bundle-image">
        <img
          src="{{site.baseurl}}/assets/img/{{ include.bundleImage }}"
          alt="Bundle Image"
          class="d-block w-100"
        />
      </div>
      <div class="col-6 popup-modal__bundle-info">
        {% include components/body-copy.html copy="<strong
          >Name of Bundle</strong
        >" extraClasses="mb-0" %}
        <!--  -->
        {% include components/body-copy.html copy=include.bundleSelectionText %}
      </div>
    </div>
  </div>

  <div class="popup-modal__body-text mb-10 mb-lg-12">
    {{ include.bodyText }}
  </div>

  <form class="popup-modal__form" novalidate>
    {% if include.form == "shipping" %}
    <input type="hidden" id="validateBillingAddress" value="true" />

    <div class="popup-modal__form-title mb-6">Enter Your Shipping Address</div>

    <div class="popup-modal__shipping mb-12">
      {% include forms/form-input.html id="streetAddress" type="text"
      placeholder="Address Line 1" value="5144 Morris St." label="Address"
      id2="suiteAddress" placeholder2="Address Line 2" value2="Suite 202"
      type2="text" errorMessage="Please enter an address." %}
      <!--   -->
      {% include forms/form-input.html id="city" placeholder="City" type="text"
      value="New York" label="City" errorMessage="Please enter a city." %}
      <!--   -->

      {% include forms/form-select.html id="stateDropdown"
      options=site.data.states extraClasses="popup-modal__state-dropdown"
      label="State" display="static" %}

      <!--   -->
      {% include forms/form-input.html id="zipCode" placeholder="Zip Code"
      value="10011" type="text" label="Zip Code" errorMessage="Please enter a
      valid zip code." %}

      <!--   -->

      {% include forms/form-input.html id="phoneNumber"
      placeholder="555-555-5555" value="999-999-9999" label="Phone Number"
      type="tel" errorMessage="Please enter a valid phone number." %}
    </div>
    {% endif %}

    <!--  -->

    {% if include.error %}
    <div class="popup-modal__error mb-10" role="alert">{{ include.error }}</div>
    {% endif %}

    <div class="popup-modal__buttons d-flex justify-content-end">
      {% include components/button.html type="rounded-transparent"
      label=include.cancelButtonText extraClasses="popup-modal__cancel-button
      normal-text dark-grey px-7 px-sm-8" %}
      <!--  -->
      {% include components/button.html label=include.mobileButtonText
      extraClasses="normal-text d-lg-none px-7 px-sm-8" buttonType="submit" %}
      <!--  -->
      {% include components/button.html label=include.buttonText
      extraClasses="normal-text d-none d-lg-block popup-modal__desktop-button
      px-7 px-sm-8" buttonType="submit" %}
    </div>
  </form>
</div>
