<div
  class="popup-modal modal-{{ include.modaltype }} {% if include.openOnLoad %}d-block{% else %}d-none{% endif %} w-100 h-100 position-absolute top-0 start-0"
  role="dialog"
  title="{{ include.title }}"
  aria-modal="true"
  aria-hidden="{% if include.openOnLoad %}false{% else %}true{% endif %}"
>
  <div class="popup-modal__background" aria-hidden="true"></div>
  <div
    class="popup-modal__container d-flex justify-content-center align-items-center min-vh-100"
  >
    <div class="popup-modal_content-wrapper my-11 {{ include.modaltype }}">
      <button
        type="button"
        class="popup-modal__btn-close"
        data-bs-dismiss="modal"
        aria-label="Close modal"
      >
        <img
          src="{{site.baseurl}}/assets/img/icons/close-dark-purple.svg"
          class="w-100 d-block"
          alt="Close Icon"
          title="Close Icon"
        />
      </button>

      {% if include.modaltype == "default" %}<!--  -->
      {% include modals/modal-default.html %}<!--  -->
      {% elsif include.modaltype == "ebook-expired" %}<!--  -->
      {% include modals/modal-ebook-expired.html %}<!--  -->
      {% elsif include.modaltype == "thank-you" or include.modaltype ==
      "thank-you-2"%}<!--  -->
      {% include modals/modal-thank-you.html %}<!--  -->
      {% elsif include.modaltype == "bundle-selection" %}<!--  -->
      {% include modals/modal-bundle-selection.html %}<!--  -->
      {% elsif include.modaltype == "delete-subscription" %}<!--  -->
      {% include modals/modal-delete-subscription.html %}<!--  -->
      {% endif %}
    </div>
  </div>
</div>
