<div class="popup-modal__content">
  <div class="popup-modal__title mb-6 mb-lg-7">{{ include.title }}</div>

  <div class="popup-modal__body-text mb-11 mb-lg-15">
    {{ include.bodyText }}
  </div>

  <div class="popup-modal__buttons d-md-flex justify-content-end">
    {% include components/button.html label=include.buttonText
    extraClasses="normal-text px-md-8" link=include.buttonLink %}
    <!--  -->
    {% if include.buttonText2 %}
    <!--  -->
    {% include components/button.html label=include.buttonText2
    extraClasses="normal-text px-md-8" link=include.buttonLink2 %}
    <!--  -->
    {% endif %}
  </div>
</div>
