.footer-container {
  max-width: 86rem;
}

.footer-logo {
  @media screen and (min-width: $screen-lg) {
    justify-content: center;
  }

  img {
    width: 11.6rem;
  }
}

.footer-nav-list {
  list-style: none;
  justify-content: space-between;
}

.footer-nav-item {
  &:last-of-type {
    margin-right: auto;
  }

  @media screen and (max-width: $screen-sm) {
    width: 50%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.footer-nav-link {
  @include xsmall-text;
  @include footer-link-style;
}

.copyright {
  @include xsmall-text;

  @media screen and (min-width: $screen-xl-min) {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: right;
  }
}
