.header {
  margin: 2rem 0 4rem;

  @media screen and (min-width: $screen-lg) {
    margin: 2.7rem 0 6rem;
  }
}

.header-row {
  align-items: center;
  height: 5rem;
}

.header__logo {
  justify-content: center;

  @media screen and (min-width: $screen-lg) {
    justify-content: start;
  }

  &-logged-out {
    justify-content: start;
  }
}

.header__logo-image {
  width: 12rem;

  .header__logo-logged-out & {
    width: 16rem;
  }

  @media screen and (min-width: $screen-lg) {
    width: 17.5rem;
  }
}

a.header_nav__link {
  font-size: 1.4rem;
  color: var(--white);
  margin-right: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: var(--white);
  }
}

.nav {
  margin-left: 7rem;
}

// Buttons

.header-button {
  font-size: 1.5rem;
  padding: 1.3rem 4rem 1.2rem;
  white-space: nowrap;
}

.sign-in-button {
  margin-left: 0.5rem;
}

// User account menu

.account {
  justify-content: flex-end;
}

.account__name {
  font-size: 1.4rem;
  font-weight: normal;
  margin-right: 0.25rem;
  white-space: nowrap;
}

.account__inner {
  align-items: center;

  @media screen and (max-width: $screen-lg) {
    justify-content: center;
  }
}

// Dropdown menu

.header__dropdown-menu {
  background: var(--dark-purple-v2);
  box-shadow: 0 8px 40px var(--grey-v4);
  padding: 1.2rem 2.5rem 1.2rem 1.2rem;
  border-radius: 0.5rem;
  left: -195% !important;
}

.header__dropdown-menu-arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid var(--dark-purple-v2);
  position: absolute;
  top: -2%;
  left: 48%;
}

.header__dropdown-item {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 100;
  padding: 0.8rem 0;

  &:hover {
    color: var(--white);
    background-color: transparent;
  }
}

.header__dropdown-divider {
  color: var(--white);
  margin: 1.2rem 0 0 0;
}

.dropdown-item__selections {
  font-weight: 500;
  padding: 0.8rem 0 0 0;
}

.dropdown-item__selections_summary {
  padding: 0 0 0.8rem 0;
}

.dropdown-item__selections__number {
  font-size: 1.8rem;
}
