@import "base/gradient";
@import "base/utils";
@import "base/font";
@import "base/card";
@import "base/button";
@import "base/heading";

html,
body {
  font-size: 10px;
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
}

a {
  text-decoration: none;
}
