@import "base/gradient";
@import "base/utils";
@import "base/font";
@import "base/card";
@import "base/button";
@import "base/heading";

html,
body {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
}

.main {
  overflow-x: hidden;
}

a {
  @include link-style;
  text-decoration: none;
}
