@import "base/gradient";
@import "base/utils";
@import "base/animation";
@import "base/font";
@import "base/form";
@import "base/card";
@import "base/box";
@import "base/button";
@import "base/heading";
@import "base/checkbox";
@import "base/accordion";

html,
body {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: var(--font-family-primary);
  font-weight: 400;
  position: relative;

  &::before {
    content: "";
    @include purple-gradient-3;
    width: 100%;
    height: calc(100% + 20rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.main {
  overflow-x: hidden;
}

a {
  @include link-style;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

.visually-hidden {
  color: var(--white);
  opacity: 1;
}

// for skip to main/skip navigation links, make them visually hidden unless they receive focus from the keyboard
a.skip-nav {
  height: 1px;
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
  z-index: -999;

  &:focus,
  &:active {
    background-color: var(--white);
    border: 0.2rem solid var(--pink);
    border-radius: 0.5rem;
    color: var(--black);
    font-size: 1.6rem;
    height: auto;
    left: 0;
    margin: 1rem;
    overflow: auto;
    padding: 0.5rem;
    text-align: center;
    top: auto;
    width: auto;
    z-index: 999;
  }
}
