<div class="card card-bundle bg-primary-gradient drop-shadow-2">
  <img
    src="{{site.baseurl}}/assets/img/bundle-thumb-{{ i | modulo: 3 | plus: 1 }}.png"
    alt="TODO: add alt text here"
    title="TODO: add alt text here"
    class="card-img-top"
  />

  <div class="card-body p-4 py-lg-5 px-lg-6">
    <a href="/bundle-details" class="card-link card-bundle__link stretched-link"
      ><p class="card-title mb-0">Young and In Love</p>
      <p class="card-text">6 eBook</p></a
    >
  </div>
</div>
