<div class="card card-ebook bg-transparent">
  <a href="/ebook-details" class="card-ebook__link"
    ><div class="card-ebook__image">
      <img
        src="{{site.baseurl}}/assets/img/ebook-thumb-{{ i | modulo: 6 | plus: 1 }}.png"
        alt="add alt text here"
        class="card-img-top drop-shadow-1"
      />
    </div>

    <div class="card-body pt-5 pb-0 px-0">
      <div class="ebook-progress mb-3 mb-lg-4">
        {% include components/progress-bar.html percentage=percentage id=i
        type=include.type %}
      </div>
      <p class="card-text">Read Now</p>
    </div></a
  >
</div>
