<div class="card card-ebook bg-transparent">
  <div class="card-ebook__image">
    <a href="/ebook-details" class="card-ebook__link">
      <img
        src="{{site.baseurl}}/assets/img/ebook-thumb-{{ i | modulo: 6 | plus: 1 }}.png"
        alt="TODO: add alt text here"
        title="TODO: add alt text here"
        class="card-img-top drop-shadow-1"
    /></a>
  </div>

  <div class="card-body position-relative pt-5 pb-0 px-0">
    <div class="ebook-progress mb-3 mb-lg-4">
      {% include components/progress-bar.html percentage=percentage id=i
      type=include.type %}
    </div>
    <p class="card-text">
      <a href="#" class="stretched-link">Read Now</a>
    </p>
  </div>
</div>
