<nav
  class="col nav header_nav d-none d-lg-flex flex-fill align-items-center"
  aria-label="Top Navigation"
  role="navigation"
>
  {% if include.sub == "true" %}<!--  -->
  {% assign headerLinks = site.data.header-nav %}<!--  -->
  {% else %}<!--  -->
  {% assign headerLinks = site.data.header-nav-unsubbed %}<!--  -->
  {% endif %}<!--  -->

  {% for item in headerLinks %}
  <a
    class="header_nav__link"
    href="{{ item.link }}"
    class="{% if page.url == item.link %}current{% endif %}"
    >{{ item.name }}</a
  >
  {% endfor %}
</nav>
