---
layout: signed-in-sub
---

{% include bundle-detail-view.html userstate="signed-in" userSub="true" %}
<!--  -->
{% include modals/modal.html modaltype="bundle-selection" openOnLoad="true" title="Your Selection"
bodyText="
<p>
  Once you confirm your selection, the books in this bundle will be found on the
  <strong>My Bookshelf</strong> page.
</p>
" bundleSelectionText="6 eBook" bundleImage="bundle-image.png" error="
<p>
  You already own this bundle. <a href=\"/bundles\">Browse bundles</a> to find new
  options.
</p>
" cancelButtonText="Cancel" buttonText="Confirm Selection"
mobileButtonText="Confirm" %}
