---
layout: signed-in-sub
---

{% include subscription-payment-view.html subscription=true %} {% include
modals/modal.html modaltype="delete-subscription" title="Are you sure?"
bodyText="
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dui felis,
  mattis ac ligula non, congue scelerisque nulla. Duis mollis, urna in interdum
  vestibulum, enim justo accumsan enim, in sodales ligula est ac ex.
</p>
<p>
  Nullam tincidunt neque eu erat vulputate, vitae porttitor lorem mattis dolor
  sit amet, consectetur adipiscing.
</p>
<p>
  Nullam nec semper dui, nec ultrices ipsum. Lorem ipsum dolor sit amet,
  consectetur adipiscing elit. Suspendisse eu mattis nunc.
</p>
" buttonText="Delete Subscription" mobileButtonText="Delete"
cancelButtonText="Cancel" %}
