<div class="billing-address">
  <h2 class="billing-address__heading">Billing Address</h2>
  <div>
    {% include forms/form-input.html label='Address' type='text'
    id='streetAddress' placeholder='Address Line 1' errorMessage='Please enter
    an address.' type2='text' id2='suiteAddress' placeholder2='Address Line 2'
    %}
  </div>
  <div>
    {% include forms/form-input.html label="City" type="text" placeholder="City"
    id="city" errorMessage="Please enter a city." %}
  </div>
  <div class="state-select">
    {% include forms/form-select.html label="State/Province" id="state"
    options=site.data.states-provinces errorMessage="Please select your state or
    province." selected='' %}
  </div>
  <div>
    {% include forms/form-input.html label="Zip Code" id="zipCode" type="text"
    placeholder="Zip Code" errorMessage="Please enter a valid zip code." %}
  </div>
  <div>
    {% include forms/form-input.html label="Phone Number" id="phoneNumber"
    type="tel" placeholder="555-555-5555" id="phone" errorMessage="Please enter
    a valid 10-digit phone number." %}
  </div>
</div>
