<div class="credit-card__form">
  <h2 class="credit-card__heading">Credit Card Info</h2>
  <div class="subscription__cc-form">
    <!-- TODO: HQN to replace this div with the Chase Payment iframe -->
    <div
      style="
        align-items: center;
        border: 0.1rem solid var(--white-v7);
        color: var(--white-v9);
        display: flex;
        font-size: 1.4rem;
        height: 40rem;
        justify-content: center;
      "
    >
      placeholder for chase payment iframe
    </div>
    <!-- /TODO -->
  </div>
</div>
