<div class="credit-card credit-card__different mb-11">
  <div class="credit-card__block">
    <div class="credit-card__checkbox">
      {% include forms/checkbox.html id="useDifferentCC" %}<!-- -->
    </div>
    <div class="credit-card__icon">
      <div class="credit-card__generic"></div>
    </div>
    <div class="credit-card__different-card">Pay with a different card</div>
  </div>

  <div class="credit-card__new">
    <input type="hidden" id="validateBillingAddress" value="false" />
    {% include forms/billing-address-form.html %}<!--  -->

    {% include forms/credit-card-form.html %}<!--  -->
  </div>
</div>
