{% include forms/form-input.html id="newPassword" label="New Password"
placeholder="New Password" type="text" errorMessage="Please input a valid
password." passwordToggle=true %}

<!--  -->

{% include forms/form-password-strength.html %}

<!--  -->

{% include components/body-copy.html copy="Passwords must be at least 8
characters and must contain at least one uppercase letter, one lowercase letter,
and one number. Passwords are case sensitive,"
extraClasses="profile-edit-view__password-instructions mb-6" %}

<!--  -->

{% include forms/form-input.html id="confirmNewPassword" label="Confirm
Password" placeholder="Confirm Password" type="text" errorMessage="The passwords
do not match." passwordToggle=true %}
