<fieldset class="form__input">
  {% if include.label %}
  <label for="{{ include.id }}">{{ include.label }}</label>
  {% endif %}
  <div class="form__input-container position-relative">
    <input
      type="{{ include.type }}"
      placeholder="{{ include.placeholder }}"
      name="{{ include.id }}"
      id="{{ include.id }}"
      value="{{ include.value }}"
      maxlength="{% if include.maxlength %}include.maxlength{% else %}250{% endif %}"
      {%
      if
      include.passwordToggle
      %}
      data-password-toggle="{{ include.passwordToggle }}"
      {%
      endif
      %}
    />

    {% if include.passwordToggle %}
    <button type="button" class="form__input-password-toggle">Hide</button>
    {% endif %}
  </div>

  {% comment %} Checks if there is a second input {% endcomment %}<!--  -->
  {% if include.id2 %}
  <label for="{{ include.id2 }}"
    ><span class="visually-hidden">
      {% if include.label %}{{ include.label }}{% else %}Field 2{% endif
      %}</span
    ></label
  >
  <input
    type="{{ include.type2 }}"
    placeholder="{{ include.placeholder2 }}"
    name="{{ include.id2 }}"
    id="{{ include.id2 }}"
    value="{{ include.value2 }}"
    maxlength="{% if include.maxlength2 %}include.maxlength2{% else %}250{% endif %}"
  />
  {% endif %}<!--  -->

  {% if include.errorMessage %}
  <div class="form__error mt-3 d-none" role="alert">
    {{ include.errorMessage }}
  </div>
  {% endif %}
</fieldset>
