<div class="input-group search-box">
  <input
    type="text"
    class="form-control search-box-text"
    placeholder="{{ include.label }}"
    maxlength="250"
    aria-label="{{ include.label }}"
    aria-describedby="search-box"
  />
  <span class="input-group-text search-box-img" id="search-box">
    <button
      type="button"
      class="search-box__btn search-box__btn-search"
      aria-label="Search"
    >
      <img
        src="{{ site.url }}/assets/img/icons/search.svg"
        alt="{{ include.label }}"
        class="d-block"
      />
    </button>

    <button
      type="button"
      class="search-box__btn search-box__btn-close"
      aria-label="Cancel Search"
    >
      <img
        src="{{site.baseurl}}/assets/img/icons/close-circle.svg"
        class="d-block"
        alt="Close Icon"
      />
    </button>
  </span>
</div>
