<div class="container-md p-0">
  <div class="cta cta-bottom">
    <a href="#" class="cta-bottom__banner-link">
      {% capture image %}assets/img/bottom-cta-sm{{ i }}.png{% endcapture %}<!--  -->
      {% capture image2x %}assets/img/bottom-cta-sm{{ i }}@2x.png{% endcapture
      %}<!--  -->
      {% capture imageLarge %}assets/img/bottom-cta{{ i }}.png{% endcapture %}<!--  -->
      {% capture imageLarge2x %}assets/img/bottom-cta{{ i }}@2x.png{% endcapture
      %}<!--  -->
      {% include components/picture.html image=image image2x=image2x
      imageLarge=imageLarge imageLarge2x=imageLarge2x altText="alt text"
      extraClasses="cta-bottom__banner-image drop-shadow-4" %}</a
    >
  </div>
</div>
