<div class="edit-box mb-4">
  <div class="edit-box__content">
    {% if include.heading %}
    <!--  -->
    {% include components/body-copy.html copy=include.heading
    extraClasses="mb-0" %}
    <!--  -->
    {% endif %}

    <!--  -->

    {% include components/body-copy.html copy=include.content
    extraClasses="mb-0" %}

    <!--  -->

    {% if include.heading2 %}
    <!--  -->
    {% include components/body-copy.html copy=include.heading2
    extraClasses="mb-0 mt-6" %}
    <!--  -->
    {% endif %}

    <!--  -->
    {% if include.content2 %}
    <!--  -->
    {% include components/body-copy.html copy=include.content2
    extraClasses="mb-0" %}
    <!--  -->
    {% endif %}
  </div>

  {% if include.hideEditLink == nil %}<!-- -->
  <a href="{{ include.link }}" class="d-block edit-box__link">
    <img
      src="{{ site.url }}/assets/img/icons/edit.svg"
      alt="Edit"
      class="w-100 d-block edit-box__image"
    />
  </a>
  {% endif %}<!--  -->
</div>
