<header class="header w-100">
  <div
    class="container-md p-0{% if include.landingpage == 'true' %} px-5{% endif %}"
  >
    <div class="row flex-nowrap m-0 header-row">
      <div
        class="col d-flex p-0 header__logo{% if include.userstate == 'signed-out' %}-logged-out{% endif %}{% if include.landingpage == 'true' %} d-md-none{% endif %}"
      >
        <a href="index" class="d-flex">
          <img
            src="{{site.baseurl}}/assets/img/harlequin-plus-logo.svg"
            alt="Harlequin Plus Logo"
            class="d-inline-block header__logo-image"
        /></a>
      </div>

      {% if include.infopage == "true" %}
      <div class="col d-flex p-0 justify-content-end">
        <button
          type="button"
          class="btn btn-primary btn-lg header-button transparent-button px-8"
        >
          Close
        </button>
      </div>

      {% elsif include.userstate == "signed-in" %}<!-- -->
      {% include nav/mobile/mobile-nav.html menu="main"
      userstate=include.userstate sub=include.sub %}<!-- -->
      {% include nav/desktop-nav.html %}

      <div
        class="col account d-flex{% if include.sub == 'false' %} pe-0{% else %} me-lg-6{% endif %}"
      >
        <div class="account__inner d-flex">
          <div class="account__name d-flex align-self-center d-none d-lg-block">
            Hi, Brennan
          </div>

          <div class="dropdown account__dropdown">
            <button
              class="btn btn-default account__menu-button d-none d-lg-block{% if include.sub == 'false' %} pe-0{% endif %}"
              type="button"
              id="account-dropdown-menu"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="{{site.baseurl}}/assets/img/icons/account.svg"
                alt="Account Icon"
              />
            </button>

            {% include nav/mobile/mobile-nav.html menu="user-account"
            userstate=include.userstate sub=include.sub %}

            <div
              class="dropdown-menu header__dropdown-menu"
              aria-labelledby="account-dropdown-menu"
            >
              <div class="header__dropdown-menu-arrow-up"></div>
              <ul>
                {% if include.userstate == "signed-in" and include.sub == "true"
                %}
                <li>
                  <a
                    href="#"
                    class="dropdown-item header__dropdown-item dropdown-item__selections"
                  >
                    <span class="dropdown-item__selections__number">8</span>
                    Available Selections
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="dropdown-item header__dropdown-item dropdown-item__selections_summary"
                    >Selection Summary</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider header__dropdown-divider" />
                </li>
                {% endif %}<!--  -->
                {% for item in site.data.header-account-nav %}
                <li>
                  <a class="dropdown-item header__dropdown-item" href="#"
                    >{{ item.name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      {% if include.userstate == "signed-in" and include.sub == "true" %}
      <div class="col d-flex d-none d-lg-block">
        {% include components/button.html type="rounded-pink" label="My
        Bookshelf" extraClasses="header-button drop-shadow-5"
        link="/my-bookshelf" %}
      </div>
      {% endif %}<!--  -->
      {% elsif include.userstate != "logo-only" %}

      <div class="col d-flex p-0 justify-content-end">
        <button
          type="button"
          class="btn btn-primary btn-lg header-button sign-in-button transparent-button px-9"
        >
          Sign In
        </button>
      </div>
      {% endif %}
    </div>
  </div>
</header>
