---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Harlequin+</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=1.0"
    />
    {% include components/favicon.html %}
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/bootstrap.bundle.min.js"
    ></script>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css" />
  </head>
  <body class="bg-primary text-body">
    <div class="container-fluid d-flex h-100 p-5 p-md-6 p-xl-8 main">
      {{ content }}
    </div>
  </body>
</html>
