---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Harlequin+</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=1.0"
    />
    {% include components/favicon.html %}
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/bootstrap.bundle.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/utils.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/carousel.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/detail-view.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/modal.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/select-dropdown.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/search.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/bundle-detail-view.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/subscription-options.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/credit-card-select.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/form.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/loader.js"
    ></script>
    <script
      type="text/javascript"
      src="{{site.baseurl}}/assets/js/filter-button.js"
    ></script>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css" />
  </head>

  <body class="bg-primary text-body {{page.type}}">
    <div
      class="container-fluid d-flex flex-column align-items-end h-100 px-5 main"
    >
      {% include components/header.html userstate="signed-in" sub="true" %}
      <div class="w-100">{{ content }}</div>
      {% include components/footer.html %}
    </div>
  </body>
</html>
