<div
  class="modal fade md-effect-1 g-0 menu-modal"
  id="mainMenuModal"
  tabindex="-1"
  aria-labelledby="mainMenuModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content menu-modal__content">
      <div class="modal-header menu-modal__modal-header mb-8">
        <button
          type="button"
          class="btn-close menu-modal__btn-close"
          data-bs-dismiss="modal"
          aria-label="Close menu"
        >
          <img
            src="{{site.baseurl}}/assets/img/icons/close-white.svg"
            alt="Menu Icon"
            title="Menu Icon"
          />
        </button>
      </div>
      <div class="modal-body menu-modal__body">
        {% if include.userstate == "signed-in" and include.sub == "true" %}
        <div class="row">
          <div class="col px-0">
            {% include components/button-link.html label="My Bookshelf"
            extraClasses="menu-modal__pink-btn w-100" link="/my-bookshelf" %}
          </div>
        </div>
        {% endif %}

        <div class="row menu-modal__nav-container mt-10">
          <nav class="col" aria-label="Mobile Navigation" role="navigation">
            {% if include.sub == "true" %}<!--  -->
            {% assign mobileLinks = site.data.mobile-nav %}<!--  -->
            {% else %}<!--  -->
            {% assign mobileLinks = site.data.mobile-nav-unsubbed %}<!--  -->
            {% endif %}<!--  -->

            {% for item in mobileLinks %}
            <div class="row menu-modal__nav-row">
              <div class="col d-flex justify-content-between px-0">
                <a class="menu-modal__link w-100" href="{{ item.link }}"
                  >{{ item.name }}</a
                >
                <a class="menu-modal__link" href="{{ item.link }}">
                  <img
                    src="{{site.baseurl}}/assets/img/icons/right-arrow-thin.svg"
                    alt="Menu Icon"
                    title="Menu Icon"
                  />
                </a>
              </div>
            </div>
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
