@mixin button {
  padding: 1.4rem 2rem 1.2rem;
  border-radius: var(--button-border-radius);
  border: 0.1rem solid transparent;
}

@mixin input-button {
  @include grey-gradient;
  @include dropshadow-v2;
  padding: 1rem 1.5rem;
  border-radius: var(--input-border-radius);
  font-size: 1.5rem;
  color: var(--dark-grey);
}

@mixin pink-button {
  @include button;
  background-color: var(--pink);
}

@mixin transparent-button {
  @include button;
  border-color: var(--white-v2);
  background-color: transparent;
}

.pink-button {
  @include pink-button;

  // TODO: change that once we get a style guide
  &:hover,
  &:active,
  &:focus {
    @include pink-button;
  }
}

.transparent-button {
  @include transparent-button;

  // TODO: change that once we get a style guide
  &:hover,
  &:active,
  &:focus {
    @include transparent-button;
  }
}

@mixin filter-button {
  @include input-button;
  @include grey-gradient-with-image-bg(
    url("../img/icons/filter.svg") no-repeat center right 1.5rem
  );
}

.filter-button__text {
  padding-right: 7rem;
}
