@mixin button {
  padding: 1.4rem 2rem 1.2rem;
  border-radius: var(--button-border-radius);
  border: 0.1rem solid transparent;

  &.normal-text {
    @include normal-text;
    font-weight: 600;
  }
}

@mixin input-button {
  @include grey-gradient;
  @include dropshadow;
  padding: 1rem 1.5rem;
  border-radius: var(--input-border-radius);
  font-size: 1.6rem;
  color: var(--dark-grey);
  font-weight: 300;

  &:hover,
  &:visited,
  &:focus {
    color: var(--dark-grey);
  }
}

@mixin default-button {
  @include button;

  &.pink {
    background-color: var(--pink);
  }

  &.red {
    background-color: var(--red-v3);
  }
}

@mixin transparent-button {
  @include button;
  border-color: var(--white-v2);
  background-color: transparent;

  &.dark-grey {
    border-color: var(--light-grey-v4);
    color: var(--dark-grey);
  }
}

@mixin full-width-button {
  @include button;
  width: 100%;

  &.light-purple {
    background-color: var(--light-purple);
  }

  &.black-v2 {
    background-color: var(--black-v2);
  }

  &.white {
    background: var(--white);
    color: var(--dark-purple-v4);
  }

  &.transparent {
    border-color: var(--white-v2);
    background-color: transparent;
  }
}

.default-button {
  @include default-button;

  // TODO: change that once we get a style guide
  &:hover,
  &:active,
  &:focus {
    @include default-button;
  }
}

.transparent-button {
  @include transparent-button;

  // TODO: change that once we get a style guide
  &:hover,
  &:active,
  &:focus {
    @include transparent-button;
  }
}

.full-width-button {
  @include full-width-button;

  // TODO: change that once we get a style guide
  &:hover,
  &:active,
  &:focus {
    @include full-width-button;
  }
}

@mixin filter-button {
  @include input-button;
  @include grey-gradient-with-image-bg(
    url("../img/icons/filter.svg") no-repeat center right 1.5rem
  );
}

@mixin select-dropdown {
  @include input-button;
  @include grey-gradient-with-image-bg(
    url("../img/icons/down-arrow.svg") no-repeat center right 1.5rem
  );
  padding-right: 6rem;

  &:after {
    content: none;
  }
}

.filter-button__text {
  padding-right: 7rem;
}

.back-arrow-button {
  display: flex;
  align-items: center;
  &:before {
    content: "";
    display: block;
    position: relative;
    background: url("../img/icons/right-arrow.svg") center right / 2rem 0.9rem
      no-repeat;
    transform: rotate(180deg);
    width: 2rem;
    height: 0.9rem;
    margin-right: 0.8rem;
    top: -0.1rem;
  }
}

.checkmark-button {
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    display: block;
    background: url("../img/icons/checkmark-white.svg") center right / 1.8rem
      1.4rem no-repeat;
    width: 1.8rem;
    height: 1.4rem;
    margin-right: 1.1rem;
  }

  &.checked-button {
    &:before {
      background-image: url("../img/icons/checkmark-dark-purple.svg");
    }
  }
}
