.card-title {
  @include small-text;
  font-weight: 600;

  @media screen and (min-width: $screen-lg) {
    @include normal-text;
  }
}

.card-text {
  @include small-text;
}

.card-link {
  @include link-style;
}

.card-bundle__link {
  @include hover-border;

  &::after {
    border-radius: 0.3rem;
  }
}

.card-ebook__link {
  @include hover-border-target(".card-ebook__image");

  .card-ebook__image {
    position: relative;

    &::after {
      border: 0.1rem solid var(--medium-purple);
      opacity: 1;
    }
  }
}

.card-game__link,
.card-movie__link {
  @include hover-border;

  &::after {
    border: 0.1rem solid var(--medium-purple);
    opacity: 1;
  }
}

.card-bundle {
  &,
  & img {
    border-width: 0;
  }
}

.card-ebook {
  border-radius: 0;
  border-width: 0;

  img {
    border-radius: 0;
  }
}

.card-game,
.card-movie {
  border-radius: 0;
  border-width: 0;

  img {
    border-radius: 0;
  }
}

.progress {
  background-color: #00000020;
  height: 0.3rem;
}

.progress__label {
  display: block;
}

.progress-bar {
  background-color: var(--pink-v2);
  height: 0.3rem;
}
