.card-title {
  @include small-text;
  font-weight: 700;

  @media screen and (min-width: $screen-lg) {
    @include normal-text;
  }
}

.card-text {
  @include small-text;
}

.progress {
  background-color: #00000020;
  height: 3px;
}

.card-link {
  @include link-style;
}

.card-bundle {
  &,
  & img {
    border-width: 0;
  }
}

.card-ebook {
  border-radius: 0;
  border-width: 0;

  img {
    border: 1px solid var(--medium-purple);
    border-radius: 0;
  }
}

.card-game,
.card-movie {
  border-radius: 0;
  border-width: 0;

  img {
    border: 1px solid var(--medium-purple-v2);
    border-radius: 0;
  }
}

.progress-bar {
  background-color: var(--pink-v2);
}
