.form-check-label {
  @include small-text-v4;
  margin-left: 1rem;
  font-weight: 300;
}

.form-check-input,
.form-check-input:checked,
.form-check-input:active {
  -webkit-appearance: none;
}

.form-check-input:focus {
  box-shadow: 0 0 0.2rem 0.1rem var(--pink);
}
