@mixin h2-playfair {
  font-family: var(--font-family-playfair);
  color: var(--white);
  font-size: 4.6rem;
  font-style: italic;
  font-weight: 600;
}

@mixin h2-playfair-mobile {
  @include h2-playfair;
  font-size: 1.8rem;
}
