@mixin link-style {
  color: var(--white);

  &:hover,
  &:active,
  &:focus {
    color: var(--white-v3);
    transition: color 300ms;
  }
}

@mixin footer-link-style {
  color: var(--white-v9);

  &:hover,
  &:active,
  &:focus {
    color: var(--white);
    transition: color 300ms;
  }
}

@mixin yellow-link-style {
  color: var(--yellow);

  &:hover,
  &:active,
  &:focus {
    color: var(--orange-v3);
  }
}

@mixin hover-border {
  &::after {
    border: 0.2rem solid var(--white);
    border-radius: 0.1rem;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8;
  }

  &:hover,
  &:active,
  &:focus,
  &.hover {
    &::after {
      border: 0.2rem solid var(--white);
      opacity: 1;
      transition: opacity 300ms;
    }
  }
}

// the class passed in as the $target is what will have the hover border added
@mixin hover-border-target($target) {
  #{$target}::after {
    border: 0.2rem solid var(--white);
    border-radius: 0.1rem;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8;
    opacity: 0;
  }

  &:hover,
  &:active,
  &:focus {
    #{$target}::after {
      border: 0.2rem solid var(--white);
      opacity: 1;
      transition: opacity 300ms;
    }
  }
}

@mixin dropshadow {
  box-shadow: 0 0.8rem 2rem var(--grey-v4);
}

@mixin dropshadow-v2 {
  box-shadow: 0 0.3rem 0.6rem var(--grey-v5);
}

@mixin left-accent-line-text {
  font-weight: 600;
  padding-left: 1.4rem;
  border-left: 0.4rem solid transparent;
}

.bg-primary-gradient {
  @include purple-gradient-2;
}

.drop-shadow-1 {
  box-shadow: 0 0.6rem 2rem var(--grey-v2);
}

.drop-shadow-2 {
  box-shadow: 0 0.8rem 3rem var(--grey-v2);
}

.drop-shadow-3 {
  box-shadow: 0 1.5rem 3rem var(--grey-v2);
}

.drop-shadow-4 {
  box-shadow: 0 1.5rem 3rem var(--grey-v4);
}

.drop-shadow-5 {
  box-shadow: 0 0.8rem 4rem var(--grey-v4);
}
