:root {
  --light-purple: #ad48a4;
  --purple: #5b25b8;
  --purple-v2: #351869;
  --dark-purple: #2e2159;
  --dark-purple-v2: #211140;
  --dark-purple-v3: rgba(0, 0, 0, 0.15);
  --dark-purple-v4: #25114a;
  --medium-purple: #451d89;
  --medium-purple-v2: #300f72;
  --medium-purple-v3-75: #35186975;
  --medium-purple-v3-50: #35186950;
  --medium-purple-v4: #6c41b1;
  --white: #ffffff;
  --white-v2: #ffffff33;
  --white-v3: #ffffff70;
  --black: #000000;
  --black-v2: #03020233;
  --dark-yellow: #eda31d;
  --light-grey: #efefef;
  --light-grey-v2: #d1d1d1;
  --light-grey-v3: rgba(227, 227, 227, 0.2);
  --grey: #000033;
  --grey-v2: #0000004d;
  --grey-v3: #54585a;
  --grey-v4: #00000066;
  --grey-v5: rgba(255, 255, 255, 0.7);
  --grey-v6: #0000004e;
  --dark-grey: #2d3748;
  --red: #e65069;
  --red-v2: #ee3e72;
  --red-v3: #ff1c50;
  --light-pink: #f0666757;
  --pink: #cd1b81;
  --pink-v2: #e31d74;
  --yellow: #ffef2c;
  --yellow-v2: #f3ea45;

  --button-border-radius: 2.4rem;
  --input-border-radius: 0.6rem;

  --font-family-primary: "Nunito Sans", sans-serif;
  --font-family-playfair: "Playfair Display", sans-serif;
}

$body-color: var(--white);

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": #5b25b8,
    "secondary": #cd1b81,
  )
);

$screen-xs: 0;
$screen-sm-min: 575px;
$screen-sm: 576px;
$screen-md-min: 767px;
$screen-md: 768px;
$screen-lg-min: 991px;
$screen-lg: 992px;
$screen-xl-min: 1225px;
$screen-xl: 1226px;
$screen-xxl-min: 1399px;
$screen-xxl: 1400px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1166px,
  xxl: 1226px,
);

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.5,
  9: $spacer * 4.5,
  10: $spacer * 5,
  11: $spacer * 5.5,
  12: $spacer * 6,
  13: $spacer * 6.5,
  14: $spacer * 7,
);

$gutters: $spacers;
